<%
var lang = 'en';
var topDir = '/'+lang+'/';
%>
<!DOCTYPE html>
<html lang="<%- lang %>">
<head>
    <%- include('../../_include/meta_' + lang, {title:'Ticket'}) %>
    <%- include('../../_include/style', {lang:lang}) %>

    <%- include('../../_include/analytics') %>
</head>
<body class="p-tickets p-lower">

<%- include('../../_include/header_' + lang, {lower:1}) %>

<div id="main">

    <section class="sec-header">
        <div class="sec-header_title">
            <h2>Private Baths</h2>
            <a href="./" class="back"></a>
        </div>
    </section>

    <% if (false) { %><div class="tickets">
        <div class="sec-title">Advanced Ticket</div>
        <div class="tickets-list">
            <iframe id="regiondo" src="" data-location="all" data-order="tag_position" data-src="https://solaniwa.regiondo.com/categories?tag=privatebath&frame=1" width="100%" height="400" frameborder="0" scrolling="auto"></iframe>
            <script type="text/javascript" src="https://cdn.regiondo.net/media/resellers/js/20284/20284_4.js"></script>
        </div>
        <div class="btn-area">
            <a href="./" class="btn-back">Back to list</a>
        </div>
    </div><% } else { %>
    <div class="tickets">
        <div class="sec-title">coming soon</div>
    </div><% } %>


    <%- include('../../_include/footer_' + lang, {lower:1, follow:false}) %>
    <%- include('../../_include/navFix_' + lang) %>
</div>

<%- include('../../_include/script',{page:'tickets'}) %>

</body>
</html>