<%
var lang = 'en';
var topDir = '/'+lang+'/';
%>
<!DOCTYPE html>
<html lang="<%- lang %>">
<head>
    <%- include('../../_include/meta_' + lang, {title:'Ticket'}) %>
    <%- include('../../_include/style', {lang:lang}) %>

    <%- include('../../_include/analytics') %>
</head>
<body class="p-tickets p-lower">

<%- include('../../_include/header_' + lang, {lower:1}) %>

<div id="main">

    <div class="category">
        <div class="sec-title">Advanced Ticket</div>
        <div class="gift-ticket">
            <a href="guide.html" class="btn -gift">Redeem Gift voucher</a>
        </div>
        <div class="category-list">
            <a href="admission.html" class="category-item">
                <picture>
                    <source media="(max-width: 768px)" srcset="/assets/images/tickets/top/image-1-sp.jpg">
                    <img src="/assets/images/tickets/top/image-1.jpg" alt="">
                </picture>
                <p class="category-name">Admission Tickets<span>coming soon</span></p>
            </a>
            <a href="bath.html" class="category-item">
                <picture>
                    <source media="(max-width: 768px)" srcset="/assets/images/tickets/top/image-2-sp.jpg">
                    <img src="/assets/images/tickets/top/image-2.jpg" alt="">
                </picture>
                <p class="category-name">Private Baths<span>coming soon</span></p>
            </a>
            <a href="package.html" class="category-item">
                <picture>
                    <source media="(max-width: 768px)" srcset="/assets/images/tickets/top/image-3-sp.jpg">
                    <img src="/assets/images/tickets/top/image-3.jpg" alt="">
                </picture>
                <p class="category-name">Packages<span>coming soon</span></p>
            </a>
            <a href="costume.html" class="category-item">
                <picture>
                    <source media="(max-width: 768px)" srcset="/assets/images/tickets/top/image-4-sp.jpg">
                    <img src="/assets/images/tickets/top/image-4.jpg" alt="">
                </picture>
                <p class="category-name">Costumes<span>coming soon</span></p>
            </a>
            <a href="relaxation-new.html" class="category-item">
                <picture>
                    <source media="(max-width: 768px)" srcset="/assets/images/tickets/top/image-5-sp.jpg">
                    <img src="/assets/images/tickets/top/image-5.jpg" alt="">
                </picture>
                <p class="category-name">Relaxation<span>coming soon</span></p>
            </a>
            <a href="beauty.html" class="category-item">
                <picture>
                    <source media="(max-width: 768px)" srcset="/assets/images/tickets/top/image-6-sp.jpg">
                    <img src="/assets/images/tickets/top/image-6.jpg" alt="">
                </picture>
                <p class="category-name">Beauty<span>coming soon</span></p>
            </a>
        </div>
    </div>

    <%- include('../../_include/magazine_' + lang) %>
    <%- include('../../_include/footer_' + lang, {lower:1}) %>
    <%- include('../../_include/navFix_' + lang) %>
</div>

<%- include('../../_include/script',{page:'tickets'}) %>

</body>
</html>