<%
var lang = 'en';
var topDir = '/'+lang+'/';
%>
<!DOCTYPE html>
<html lang="<%- lang %>">
<head>
    <%- include('../../_include/meta_' + lang, {title:'Ticket'}) %>
    <%- include('../../_include/style', {lang:lang}) %>

    <%- include('../../_include/analytics') %>
</head>
<body class="p-tickets p-lower">

<%- include('../../_include/header_' + lang, {lower:1}) %>

<div id="main">

    <section class="tickets-header">
        <div class="sec-title">coming soon</div>
        <div style="height: 30vw;"> </div>
    </section>

    <%- include('../../_include/magazine_' + lang) %>
    <%- include('../../_include/footer_' + lang, {lower:1}) %>
    <%- include('../../_include/navFix_' + lang) %>
</div>

<%- include('../../_include/script') %>

</body>
</html>