<%
var lang = 'en';
var topDir = '/'+lang+'/';
%>
<!DOCTYPE html>
<html lang="<%- lang %>">
<head>
    <%- include('../../_include/meta_' + lang, {title:'Ticket'}) %>
    <%- include('../../_include/style', {lang:lang}) %>

    <%- include('../../_include/analytics') %>
</head>
<body class="p-tickets p-lower">

<%- include('../../_include/header_' + lang, {lower:1}) %>

<div id="main">

    <%- include('./_campaign') %>

    <div class="category">
        <div class="sec-title">Advance Ticket</div>
        <div class="category-list">
            <a href="admission.html" class="category-item">
                <picture>
                    <source media="(max-width: 768px)" srcset="/assets/images/tickets/top/image-1-sp.jpg">
                    <img src="/assets/images/tickets/top/image-1.jpg" alt="">
                </picture>
                <p class="category-name">Admission Fee</p>
            </a>
            <a href="bath.html" class="category-item">
                <picture>
                    <source media="(max-width: 768px)" srcset="/assets/images/tickets/top/image-2-sp.jpg">
                    <img src="/assets/images/tickets/top/image-2.jpg" alt="">
                </picture>
                <p class="category-name">Family Bath</p>
            </a>
            <a href="package.html" class="category-item">
                <picture>
                    <source media="(max-width: 768px)" srcset="/assets/images/tickets/top/image-3-sp.jpg">
                    <img src="/assets/images/tickets/top/image-3.jpg" alt="">
                </picture>
                <p class="category-name">Package</p>
            </a>
            <a href="costume.html" class="category-item">
                <picture>
                    <source media="(max-width: 768px)" srcset="/assets/images/tickets/top/image-4-sp.jpg">
                    <img src="/assets/images/tickets/top/image-4.jpg" alt="">
                </picture>
                <p class="category-name">Costume / Upgrade</p>
            </a>
            <a href="relaxation.html" class="category-item">
                <picture>
                    <source media="(max-width: 768px)" srcset="/assets/images/tickets/top/image-5-sp.jpg">
                    <img src="/assets/images/tickets/top/image-5.jpg" alt="">
                </picture>
                <p class="category-name">Relaxation</p>
            </a>
            <a href="beauty.html" class="category-item">
                <picture>
                    <source media="(max-width: 768px)" srcset="/assets/images/tickets/top/image-6-sp.jpg">
                    <img src="/assets/images/tickets/top/image-6.jpg" alt="">
                </picture>
                <p class="category-name">Beauty</p>
            </a>
        </div>
    </div>

    <%- include('../../_include/magazine_' + lang) %>
    <%- include('../../_include/footer_' + lang, {lower:1}) %>
    <%- include('../../_include/navFix_' + lang) %>
</div>

<%- include('../../_include/script') %>
<script src="/assets/js/tickets.js"></script>

</body>
</html>