<%
var lang = 'en';
var topDir = '/'+lang+'/';
%>
<!DOCTYPE html>
<html lang="<%- lang %>">
<head>
    <%- include('../../_include/meta_' + lang, {title:'Ticket'}) %>
    <%- include('../../_include/style', {lang:lang}) %>

    <%- include('../../_include/analytics') %>
</head>
<body class="p-tickets p-lower">

<%- include('../../_include/header_' + lang, {lower:1}) %>

<div id="main">

    <section class="sec-header">
        <div class="sec-header_title">
            <h2>Relaxation</h2>
            <a href="./" class="back"></a>
        </div>
    </section>

    <div class="tickets">
        <div class="sec-title">coming soon</div>
    </div>

    <%- include('../../_include/footer_' + lang, {lower:1, follow:false}) %>
    <%- include('../../_include/navFix_' + lang) %>
</div>

<%- include('../../_include/script',{page:'tickets'}) %>

</body>
</html>