<%
var lang = 'en';
var topDir = '/'+lang+'/';
%>
<!DOCTYPE html>
<html lang="<%- lang %>">
<head>
    <%- include('../../_include/meta_' + lang, {title:'photo gallery'}) %>
    <%- include('../../_include/style', {lang:lang}) %>

    <%- include('../../_include/analytics') %>
</head>
<body class="p-gallery p-lower">

<%- include('../../_include/header_' + lang, {lower:1}) %>

<div id="main">
    <section class="sec-header">
        <div class="sec-header_title">
            <h2>Photo Gallery</h2>
            <a href="../" class="back"></a>
        </div>
    </section>

    <section class="gallery-list">
        <% for (var i = 0; i <= 70; i++) { if (true) { %>
            <div class="gallery-item">
                <a href="/assets/images/gallery/detail-<%= (i < 10) ? ('00' + i) : ('0' + i) %>.jpg" class="js-gallery"><img src="/assets/images/gallery/<%= (i < 10) ? ('00' + i) : ('0' + i) %>.jpg" alt=""></a>
            </div>
        <% }} %>
    </section>


    <%- include('../../_include/magazine_' + lang) %>
    <%- include('../../_include/footer_' + lang, {lower:1}) %>
    <%- include('../../_include/navFix_' + lang) %>

    <div class="modal-window modal-gallery">
        <a href="" class="modal-close js-modal-close"></a>
        <div class="modal-gallery-in">
            <p class="modal-image"></p>
        </div>
        <div class="modal-gallery-nav">
            <button class="nav-btn -prev"></button>
            <button class="nav-btn -next"></button>
        </div>
    </div>
</div>

<%- include('../../_include/script',{page:'gallery'}) %>

</body>
</html>