<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include('../_include/meta', {title:'美',page:'beauty'}) %>
    <%- include('../_include/style', {lang:'ja'}) %>

    <%- include('../_include/analytics') %>
</head>
<body class="p-explore p-lower">

<%- include('../_include/header',{lower:1}) %>

<div id="main">

    <section class="sec-header">
        <div class="sec-header_title">
            <h2>美</h2>
            <a href="/" class="back"></a>
        </div>
    </section>

    <section class="explore">
        <div class="sec-title">ビューティ&リラクゼーション</div>
        <div class="explore-lead">
            関西最大級のリラクゼーション施設で、体に負担のかからない和式ボディケアから本格エステまで50種類近いサービスをご用意しており、トータルビューティーを叶えることができます。
        </div>
        <div class="explore-list">
            <div class="explore-item">
                <picture>
                    <img src="/assets/images/explore/beauty/image-1-0.jpg" alt="">
                </picture>
                <dl>
                    <dt>啓楽院</dt>
                    <dt>2F すぱ之町</dt>
                    <dd>関西最大級のリラクゼーション施設で、体に負担のかからない和式ボディケアから本格エステまで50種類近いサービスをご用意しており、トータルビューティーを叶えることができます。</dd>
                </dl>
            </div>
            <div class="explore-item">
                <picture>
                    <img src="/assets/images/explore/beauty/image-1-1.jpg" alt="">
                </picture>
                <dl>
                    <dt>ボディケア</dt>
                    <dt>2F すぱ之町（癒し処 啓楽院）</dt>
                    <dd>張って硬くなった筋肉に対して、垂直に無理なく刺激を与える当社独自のボディケア。心地よい刺激を一定のリズムで響かせ、心身ともにリラックスできます。
                        <br><span>館内利用されなくても、サービス単独で利用可能</span></dd>
                </dl>
            </div>
            <div class="explore-item">
                <picture>
                    <img src="/assets/images/explore/beauty/image-1-2.jpg" alt="">
                </picture>
                <dl>
                    <dt>和式ボディケア</dt>
                    <dt>2F すぱ之町（癒し処 啓楽院）</dt>
                    <dd>従来の概念を超えた新しい技術でうつ伏せの息苦しさから解放し、より深くまで筋肉を捉えたボディケアを行います。
                        <br><span>館内利用されなくても、サービス単独で利用可能</span></dd>
                </dl>
            </div>
            <div class="explore-item">
                <picture>
                    <img src="/assets/images/explore/beauty/image-1-3.jpg" alt="">
                </picture>
                <dl>
                    <dt>ストレッチ</dt>
                    <dt>2F すぱ之町（癒し処 啓楽院）</dt>
                    <dd>骨格と支える筋肉を伸ばし、緊張を緩めながら体幹バランスを整えるストレッチ。身体の歪みを解消することで、肩こり・腰痛を改善し、圧迫されていた内蔵機能を活発にします。
                        <br><span>館内利用されなくても、サービス単独で利用可能</span></dd>
                </dl>
            </div>
            <div class="explore-item">
                <picture>
                    <img src="/assets/images/explore/beauty/image-1-4.jpg" alt="">
                </picture>
                <dl>
                    <dt>フットケア</dt>
                    <dt>2F すぱ之町（癒し処 啓楽院）</dt>
                    <dd>全身の臓器・器官・筋肉に対応する足裏のきめ細かな72の反射区を刺激し、体調を整え機能を強化します。
                        <br><span>館内利用されなくても、サービス単独で利用可能</span></dd>
                </dl>
            </div>
            <div class="explore-item">
                <picture>
                    <img src="/assets/images/explore/beauty/image-1-5.jpg" alt="">
                </picture>
                <dl>
                    <dt>部分強化コース</dt>
                    <dt>2F すぱ之町（癒し処 啓楽院）</dt>
                    <dd>効果を実感しやすいポイントケアは、ボディケアや和式ボディケア、フットケアなどとセットでお選びいただくことがおすすめ。
                        <br><span>館内利用されなくても、サービス単独で利用可能</span></dd>
                </dl>
            </div>
            <div class="explore-item">
                <picture>
                    <img src="/assets/images/explore/beauty/image-1-6.jpg" alt="">
                </picture>
                <dl>
                    <dt>タイ古式セラピー</dt>
                    <dt>2F すぱ之町（癒し処 啓楽院）</dt>
                    <dd>紀元前からタイに伝わる「古式セラピー」の2大潮流「ワットポー式」「チェンマイ式」をミックスし、体の内側から改善を行います。
                        <br><span>館内利用されなくても、サービス単独で利用可能</span></dd>
                </dl>
            </div>
            <div class="explore-item">
                <picture>
                    <img src="/assets/images/explore/beauty/image-1-7.jpg" alt="">
                </picture>
                <dl>
                    <dt>超音波フェイス創顔</dt>
                    <dt>2F すぱ之町（癒し処 啓楽院）</dt>
                    <dd>独自開発のクレンジングなどでハリと弾力のある肌に。超音波を使った美肌改善フェイシャルで、あなた本来の美しさを引き出します。
                        <br><span>館内利用されなくても、サービス単独で利用可能</span></dd>
                </dl>
            </div>
            <div class="explore-item">
                <picture>
                    <img src="/assets/images/explore/beauty/image-1-8.jpg" alt="">
                </picture>
                <dl>
                    <dt>3D小顔セラピー</dt>
                    <dt>2F すぱ之町（癒し処 啓楽院）</dt>
                    <dd>熟練のハンドテクニックをベースに「筋肉」「肌」にアプローチし、メリハリ3D美小顔に。リフトアップ・眼精疲労にもおすすめです。
                        <br><span>館内利用されなくても、サービス単独で利用可能</span></dd>
                </dl>
            </div>
            <div class="explore-item">
                <picture>
                    <img src="/assets/images/explore/beauty/image-1-9.jpg" alt="">
                </picture>
                <dl>
                    <dt>神熱デトックスオイル</dt>
                    <dt>2F すぱ之町（癒し処 啓楽院）</dt>
                    <dd>オリジナルデトックスオイルを使い、老廃物・毒素を排出。血行を促進して体内温度を上げ、老化防止・痩せやすい身体へと導きます。
                        <br><span>館内利用されなくても、サービス単独で利用可能</span></dd>
                </dl>
            </div>
            <div class="explore-item">
                <picture>
                    <img src="/assets/images/explore/beauty/image-1-10.jpg" alt="">
                </picture>
                <dl>
                    <dt>代謝アップスリミング</dt>
                    <dt>2F すぱ之町（癒し処 啓楽院）</dt>
                    <dd>ハイパーナイフで身体の深部から温め、脂肪の燃焼を促します。特殊なハンドピースを用い、頑固な脂肪やセルライトへ徹底的にアプローチ。
                        <br><span>館内利用されなくても、サービス単独で利用可能</span></dd>
                </dl>
            </div>
            <div class="explore-item">
                <picture>
                    <img src="/assets/images/explore/beauty/image-1-11.jpg" alt="">
                </picture>
                <dl>
                    <dt>ヘアセット</dt>
                    <dt>2F すぱ之町（呉服所 京錦）</dt>
                    <dd>各種レンタル衣装で安土桃山時代の服装を楽しむことができます。ヘアセットもご用意しています。
                        <br><span>館内利用されなくても、サービス単独で利用可能</span>
                    </dd>
                </dl>
            </div>
            <div class="explore-item">
                <picture>
                    <img src="/assets/images/explore/beauty/image-1-12.jpg" alt="">
                </picture>
                <dl>
                    <dt>あかすり</dt>
                    <dt>5F あかすり殿</dt>
                    <dd>古代ローマにその起源がある最古の美容法と言われるあかすり。伝統技術を現代人の身体に合わせ、美容と健康にアプローチします。</dd>
                </dl>
            </div>
            <div class="explore-item">
                <picture>
                    <img src="/assets/images/explore/beauty/image-1-13.jpg" alt="">
                </picture>
                <dl>
                    <dt>フィッシュセラピー</dt>
                    <dt>4F 天空庭園（魚集家）</dt>
                    <dd>古くなった角質をついばむ習性があるドクターフィッシュの心地よい刺激に癒されます。</dd>
                </dl>
            </div>
        </div>
    </section>

    <section class="explore">
        <div class="sec-title">ショップ&セルフビューティー</div>
        <div class="explore-list">
            <div class="explore-item">
                <picture>
                    <img src="/assets/images/explore/beauty/image-2-1.jpg" alt="">
                </picture>
                <dl>
                    <dt>紅おしろい 紅華本舗</dt>
                    <dt>2F 買いもん横町</dt>
                    <dd>安土桃山時代に京都で化粧品店を開いたとされ、当館のキャラクターにもなっている「皆川とら」が、酒や麹、金などの和素材を活かした選りすぐりのコスメをご紹介。</dd>
                </dl>
            </div>
            <div class="explore-item">
                <picture>
                    <img src="/assets/images/explore/beauty/image-2-2.jpg" alt="">
                </picture>
                <dl>
                    <dt>お粧し処（おめかしどころ）</dt>
                    <dt>2F お仕度処</dt>
                    <dd>女性用ロッカールームには約100㎡の広さを誇る国内最大級のパウダールームを設置。落ち着いた和モダンの空間でヘアケアやスキンケアをゆったり楽しんでいただけます。</dd>
                </dl>
            </div>
            <div class="explore-item">
                <picture>
                    <img src="/assets/images/explore/beauty/image-3-1.jpg" alt="">
                </picture>
                <dl>
                    <dt>セルフエステコーナー</dt>
                    <dt>2F お仕度処（お粧し処内）</dt>
                    <dd>国内主要メーカーの美容機器やコスメを試すことができるセルフエステコーナーは、女性の美しさをより一層引き立てる空間です（有料）。</dd>
                </dl>
            </div>
        </div>
    </section>

    <%- include('./_category', {category:"beauty"}) %>

    <%- include('../_include/magazine') %>
    <%- include('../_include/footer', {lower:1}) %>
    <%- include('../_include/navFix') %>

</div>

<%- include('../_include/script') %>

</body>
</html>