<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include('../_include/meta', {title:'前売りチケット'}) %>
    <%- include('../_include/style', {lang:'ja'}) %>

    <%- include('../_include/analytics') %>
</head>
<body class="p-tickets p-lower">

<%- include('../_include/header',{lower:1}) %>

<div id="main">
    <section class="sec-header">
        <div class="sec-header_title">
            <h2>パッケージ</h2>
            <a href="./" class="back"></a>
        </div>
    </section>

    <%- include('./_campaign') %>

    <div class="tickets">
        <div class="sec-title">coming soon</div>
    </div>

    <%- include('../_include/magazine') %>
    <%- include('../_include/footer', {lower:1}) %>
    <%- include('../_include/navFix') %>
</div>

<%- include('../_include/script') %>
<script src="/assets/js/tickets.js"></script>

</body>
</html>