<%
var lang = 'en';
var topDir = '/'+lang+'/';
%>
<!DOCTYPE html>
<html lang="<%- lang %>">
<head>
    <%- include('../../_include/meta_' + lang, {title:'Beauty',page:'beauty'}) %>
    <%- include('../../_include/style', {lang:lang}) %>

    <%- include('../../_include/analytics') %>
</head>
<body class="p-explore p-lower">


<%- include('../../_include/header_' + lang,{lower:1}) %>

<div id="main">

    <section class="sec-header">
        <div class="sec-header_title">
            <h2>Beauty</h2>
            <a href="<%- topDir %>" class="back"></a>
        </div>
    </section>

    <section class="explore">
        <div class="sec-title">Beauty and Relaxation</div>
        <div class="explore-lead">
            We are one of the greatest relaxation facilities in Kansai region. We have close to 50 kinds of treatments: From the light Japanese body therapy, to genuine aesthetic treaments which rejuvenate your whole body and make you feel amazing from head to toe.
        </div>
        <div class="explore-list">
            <div class="explore-item">
                <picture>
                    <img src="/assets/images/explore/beauty/image-1-0.jpg" alt="">
                </picture>
                <dl>
                    <dt>Relaxation, Keiraku Inn</dt>
                    <dt>2F Spa machi</dt>
                    <dd>Massage & Este Keirakuin is the relaxation facility of the highest rank in Kansai. You can receive nearly 50 kinds of services there to make yourself  relaxed and beautiful.</dd>
                </dl>
            </div>
            <div class="explore-item">
                <picture>
                    <img src="/assets/images/explore/beauty/image-1-1.jpg" alt="">
                </picture>
                <dl>
                    <dt>Body Treatment</dt>
                    <dt>2F Spa machi <span class="f-small">(Relaxation, Keiraku Inn)</span></dt>
                    <dd>Our exclusive body treatment will target your stiff muscles through vertical stimulation, keeping a constant pace and making you relax both physically and mentally. (Extra charge)</dd>
                </dl>
            </div>
            <div class="explore-item">
                <picture>
                    <img src="/assets/images/explore/beauty/image-1-2.jpg" alt="">
                </picture>
                <dl>
                    <dt>Japanese Body Treatment</dt>
                    <dt>2F Spa machi <span class="f-small">(Relaxation, Keiraku Inn)</span></dt>
                    <dd>This treatment comes with a novel approach and new techniques unlike any other.  Avoiding postions which will strain your body, we will release all the pressure and reach your inner muscles. (Extra charge)</dd>
                </dl>
            </div>
            <div class="explore-item">
                <picture>
                    <img src="/assets/images/explore/beauty/image-1-3.jpg" alt="">
                </picture>
                <dl>
                    <dt>Stretch</dt>
                    <dt>2F Spa machi <span class="f-small">(Relaxation, Keiraku Inn)</span></dt>
                    <dd>Stretch your skeletal structure and the muscles surrounding them to relieve tension and balance your core. This treatment will release your stiff shoulders and back, while also taking away the pressure built up around your internal organs allowing them to work in a better way. (Extra charge)</dd>
                </dl>
            </div>
            <div class="explore-item">
                <picture>
                    <img src="/assets/images/explore/beauty/image-1-4.jpg" alt="">
                </picture>
                <dl>
                    <dt>Foot Care</dt>
                    <dt>2F Spa machi <span class="f-small">(Relaxation, Keiraku Inn)</span></dt>
                    <dd>Using reflexology foot massage, we target the 72 reflex zones that correspond to internal organs and muscles which balance and strengthen your health. (Extra charge)</dd>
                </dl>
            </div>
            <div class="explore-item">
                <picture>
                    <img src="/assets/images/explore/beauty/image-1-5.jpg" alt="">
                </picture>
                <dl>
                    <dt>Targeting Treatment</dt>
                    <dt>2F Spa machi <span class="f-small">(Relaxation, Keiraku Inn)</span></dt>
                    <dd>This treatment targets specific points and is personalized to each individual needs. We recommend to combine this therapy with either our Body Treatment, Japanese Body Treatment, or Foot care. (Extra charge)</dd>
                </dl>
            </div>
            <div class="explore-item">
                <picture>
                    <img src="/assets/images/explore/beauty/image-1-6.jpg" alt="">
                </picture>
                <dl>
                    <dt>Thai Therapeutic Massage</dt>
                    <dt>2F Spa machi <span class="f-small">(Relaxation, Keiraku Inn)</span></dt>
                    <dd>We combine the two major therapeutic massage techniques that have been used in Thailand for centuries “Wat Pho method” and “Chiang Mai method”, so to improve your health and chase the stress away. (Extra charge)</dd>
                </dl>
            </div>
            <div class="explore-item">
                <picture>
                    <img src="/assets/images/explore/beauty/image-1-7.jpg" alt="">
                </picture>
                <dl>
                    <dt>Facial Treatment with Ultrasonic Wave</dt>
                    <dt>2F Spa machi <span class="f-small">(Relaxation, Keiraku Inn)</span></dt>
                    <dd>We use our original cleansing oil to provide firmness and resilience to your skin. Our facial technique with Ultrasonic Wave will bring out your true beauty. (Extra charge)</dd>
                </dl>
            </div>
            <div class="explore-item">
                <picture>
                    <img src="/assets/images/explore/beauty/image-1-8.jpg" alt="">
                </picture>
                <dl>
                    <dt>3D Facial Therapy</dt>
                    <dt>2F Spa machi <span class="f-small">(Relaxation, Keiraku Inn)</span></dt>
                    <dd>Our traditional hand technique targets your skin and muscles so to form and lift your facial structure. We also recommend this to help heal eyestrain. (Extra charge)</dd>
                </dl>
            </div>
            <div class="explore-item">
                <picture>
                    <img src="/assets/images/explore/beauty/image-1-9.jpg" alt="">
                </picture>
                <dl>
                    <dt>Shin-Netsu Detox Oil</dt>
                    <dt>2F Spa machi <span class="f-small">(Relaxation, Keiraku Inn)</span></dt>
                    <dd>Our original detox oils help ridding the body of toxins, waste and unhealthy substances. They will increase your blood circulation and raise your body temperature for an anti-aging effect and will also help you lose body fat.  (Extra charge)</dd>
                </dl>
            </div>
            <div class="explore-item">
                <picture>
                    <img src="/assets/images/explore/beauty/image-1-10.jpg" alt="">
                </picture>
                <dl>
                    <dt>Metabolism Enhancement and Slimming</dt>
                    <dt>2F Spa machi <span class="f-small">(Relaxation, Keiraku Inn)</span></dt>
                    <dd>We use hyper knife technology to warm your inner body, then with our special hand piece we attack and eliminate stubborn fat and cellulite. (Extra charge) </dd>
                </dl>
            </div>
            <div class="explore-item">
                <picture>
                    <img src="/assets/images/explore/beauty/image-1-11.jpg" alt="">
                </picture>
                <dl>
                    <dt>Hair Dresser</dt>
                    <dt>2F Spa machi <span class="f-small">(Kimono rental KYONISHIKI)</span></dt>
                    <dd>Costume rentals and hair settings that will bring you back to the Azuchi-Momoyama era (approx. 1558-1600 CE). (Extra charge)<br><br>
                        Available without Using our facility.
                    </dd>
                </dl>
            </div>
            <div class="explore-item">
                <picture>
                    <img src="/assets/images/explore/beauty/image-1-12.jpg" alt="">
                </picture>
                <dl>
                    <dt>Akasuri (scrubbing)</dt>
                    <dt>5F Body Scrub</dt>
                    <dd>Did you know that scrubbing is one of the oldest beauty treatments that originated in ancient Rome? No? Me neither. We use traditional techniques and adjust to current customs by using unusual techniques which enhance your health and beauty.</dd>
                </dl>
            </div>
            <div class="explore-item">
                <picture>
                    <img src="/assets/images/explore/beauty/image-1-13.jpg" alt="">
                </picture>
                <dl>
                    <dt>Fish Therapy</dt>
                    <dt>4F Benten garden <span class="f-small">(Gyoshuka)</span></dt>
                    <dd>Fish therapy involves placing your feet into a tub of water which contains small “doctor fish”. This species is known for its ability to eat dead skin from the feet, revealing smoother, newer skin in a comfortable and stimulating way. (Extra charge)</dd>
                </dl>
            </div>
        </div>
    </section>

    <section class="explore">
        <div class="sec-title">Shop and Self care</div>
        <div class="explore-list">
            <div class="explore-item">
                <picture>
                    <img src="/assets/images/explore/beauty/image-2-1.jpg" alt="">
                </picture>
                <dl>
                    <dt>Benihana cosmetics</dt>
                    <dt>2F Kaimon Place</dt>
                    <dd>Benihana cosmetics. 2F Back in 1550s-1600s Azuchi-Momoyama era Tora Minagawa opened a cosmetic store in Kyoto, today she is our mascot and offers a variety of cosmetics made from Japanese ingredients such as Japanese sake, Koji(melted rice) and gold.</dd>
                </dl>
            </div>
            <div class="explore-item">
                <picture>
                    <img src="/assets/images/explore/beauty/image-2-2.jpg" alt="">
                </picture>
                <dl>
                    <dt>Locker room with more</dt>
                    <dt>2F Powder room</dt>
                    <dd>Our women's locker room is around 100m2 large and comes with one of a large powder rooms. Find serenity in a Japanese modern atmosphere that will make you relax and enjoy taking care of your skin and hair. </dd>
                </dl>
            </div>
            <div class="explore-item">
                <picture>
                    <img src="/assets/images/explore/beauty/image-3-1.jpg" alt="">
                </picture>
                <dl>
                    <dt>Self-aesthetics</dt>
                    <dt>2F Locker room <br><span class="f-small">(Inside the powder room)</span></dt>
                    <dd> In this area, we have number of beauty treatment devices from the most reputable Japanese beauty experts for you to try. They will surelt help bringing forward your beauty. (Extra charge)</dd>
                </dl>
            </div>
        </div>
    </section>

    <%- include('./_category', {category:"beauty"}) %>

    <%- include('../../_include/magazine_' + lang) %>
    <%- include('../../_include/footer_' + lang, {lower:1}) %>
    <%- include('../../_include/navFix_' + lang) %>

</div>

<%- include('../../_include/script') %>

</body>
</html>