<%
var lang = 'en';
var topDir = '/'+lang+'/';
%>
<!DOCTYPE html>
<html lang="<%- lang %>">
<head>
    <%- include('../../_include/meta_' + lang, {title:"First Timer's Guide",path:'news/beginner.html'}) %>
    <%- include('../../_include/style', {lang:lang}) %>

    <%- include('../../_include/analytics') %>
</head>
<body class="p-news p-lower">

<%- include('../../_include/header_' + lang, {lower:1}) %>

<div id="main">

    <section class="news-article">
        <div class="news-article_header">
            <h2>First Timer's Guide</h2>
        </div>
        <div class="news-article_beginner">
            <div class="beginner-header">
                <div class="beginner-header_lead">Solaniwa Onsens is a theme park where you discover the wonders of Osaka during the Azuchi Momoyama era (1573 - 1603).  You will experience our services including natural Onsen, Health, Beauty, Food, Relaxation and Entertainment surrounded by Azuchi Momoyama feeings.  Eat delicious food, Laugh happily and Relax in natural hot spring! </div>
                <div class="beginner-header_notice">
                    <dl>
                        <dt>Notes</dt>
                        <dd>・ Guests with tattoos, body art including fashion tattoos, body painting and stickers, member of criminal gang/antisocial forces, or those engaging in activities which will cause inconvenience to other guest or our employees will not be allowed for entry. <br>
                            ・ Guests who are heavily intoxicated, skin diaseses, infections or appear to be so will not be admitted. <br>
                            ・ Outside food and drink is prohibited to bring into the facility. <br>
                            ・ Smoking is prohibited except at the smoking designated spaces. <br>
                            ・ We shall not be responsible for any incident, injury, loss or theft caused within the facility. <br>
                            <br>
                            <span>※Unaccompanied children under age 16 must check out by 19:00 and under age 18 by 22:00. <br>
                                ※Please make sure to check the oter <a href="/en/term/term.html" class="link">terms of use.</a><br>
                                ※If a size of tattoo can be completely covered by the sticker we offer at front desk, our rule above will not be applied. Please come to frontdesk for more detail. </span></dd>
                    </dl>
                </div>
            </div>
            <div class="beginner-body">
                <div class="sec-title">User guide </div>
                <div class="image">
                    <picture>
                        <source media="(max-width: 768px)" srcset="/assets/images/news/beginner/image-1-sp.jpg">
                        <img src="/assets/images/news/beginner/image-1.jpg" srcset="/assets/images/news/beginner/image-1@2x.jpg 2x" alt="">
                    </picture>
                </div>
                <div class="info info-1">
                    <dl>
                        <dt>1. Go to Solaniwa Onsen</dt>
                        <dd>Access to Solaniwa Onsen from the main entrance located at the 2F of Osaka Bay Tower North.</dd>
                    </dl>
                </div>
                <div class="info info-2">
                    <dl>
                        <dt>2. Wristband</dt>
                        <dd>Pleae take off your shoes and put them in the shoe locker. Your shoe locker key is the wristband which you can use to pay evryhing inside Solaniwa Onsen, so you don’t need to carry cash with you.</dd>
                    </dl>
                </div>
                <div class="image">
                    <picture>
                        <source media="(max-width: 768px)" srcset="/assets/images/news/beginner/image-2-sp.jpg">
                        <img src="/assets/images/news/beginner/image-2.jpg" srcset="/assets/images/news/beginner/image-2@2x.jpg 2x" alt="">
                    </picture>
                </div>
                <div class="info info-3">
                    <dl>
                        <dt>3. Check-in</dt>
                        <dd>At the front desk, you will activate your wristband. <br>
                            Present any coupon tickets or voucher at the front desk when you check in.</dd>
                    </dl>
                </div>
                <div class="info info-4">
                    <dl>
                        <dt>4. Choose Yukata and change</dt>
                        <dd>We offer a selection of original Yukatas inspired from Azuchi Momoyama era. Please choose a Yukata and Obi (belt) and get changed in the locker room on 2F.</dd>
                    </dl>
                </div>
                <div class="image">
                    <picture>
                        <source media="(max-width: 768px)" srcset="/assets/images/news/beginner/image-3-sp.jpg">
                        <img src="/assets/images/news/beginner/image-3.jpg" srcset="/assets/images/news/beginner/image-3@2x.jpg 2x" alt="">
                    </picture>
                </div>
                <div class="info info-5">
                    <dl>
                        <dt>5. Payment</dt>
                        <dd>All paid services inside the facility (food, drinks, ganbanyoku, massage, activities, souvernirs…), will be charged on your writsband. You will settle a pyament at the time of check-out.</dd>
                    </dl>
                </div>
                <div class="image">
                    <picture>
                        <source media="(max-width: 768px)" srcset="/assets/images/news/beginner/image-4-sp.jpg">
                        <img src="/assets/images/news/beginner/image-4.jpg" srcset="/assets/images/news/beginner/image-4@2x.jpg 2x" alt="">
                    </picture>
                </div>
                <div class="info info-6">
                    <dl>
                        <dt>6. Towel</dt>
                        <dd>Towels for the baths (facial and bath towels) are available in the baths locker room on 5F. Towels for the foot baths in the grden are available at the points of access to the garden on the 5F.</dd>
                    </dl>
                </div>
                <div class="image">
                    <picture>
                        <source media="(max-width: 768px)" srcset="/assets/images/news/beginner/image-5-sp.jpg">
                        <img src="/assets/images/news/beginner/image-5.jpg" srcset="/assets/images/news/beginner/image-5@2x.jpg 2x" alt="">
                    </picture>
                </div>
                <div class="info info-7">
                    <dl>
                        <dt>7. Services</dt>
                        <dd>Please go to the reception of each services for more information or booking request:<br>
                            - Ganbanyoku: Reception is on the 2F, next to the locker rooms.<br>
                            - Body Care Salon: Reception is on the 2F, on the left side of the main front desk.<br>
                            - Costume rental: Reception is located on 5F next to the recliner area.<br>
                            - Fish therapy: Reception is located in the Garden net to the foot baths.<br>
                            - Private bath: Reception is located on 5F next to the Garden </dd>
                    </dl>
                </div>
                <div class="image">
                    <picture>
                        <source media="(max-width: 768px)" srcset="/assets/images/news/beginner/image-6-sp.jpg">
                        <img src="/assets/images/news/beginner/image-6.jpg" srcset="/assets/images/news/beginner/image-6@2x.jpg 2x" alt="">
                    </picture>
                </div>
                <div class="info info-8">
                    <dl>
                        <dt>8. Check-out</dt>
                        <dd>Please return your towels to either 5F or 2F locker rooms and Yukata to 2F locker room.<br>
                            Please show your wristband to the front desk. Payment is due at this time. If you prefer, automatic self check out machine are available next to the frint desk.<br>
                            If you have a membership card, please make sure to check out at front desk to receive points.<br>
                            When your payment is completed, you will receive an exit ticket to go through the automatic gate.</dd>
                    </dl>
                </div>

            </div>
            <div class="beginner-caution">
                <dl>
                    <dt>Notice</dt>
                    <dd>Please take care to avoid losing your writsband.<br>
                        You can use the free security locker located near front desk for your valuables.<br>
                        Pleaes be sure to lock your locker with the key for theft prevention.<br>
                        If you loose IC wristband and other key, you will be chaged a fee.<br>
                        <br>
                        Please keep good manners and enjoy your time at Solaniwa Onsen.
                    </dd>
                </dl>
            </div>
        </div>
    </section>

    <section class="news-others">
        <div class="sec-title">Go on reading</div>
        <%- include('./_newslist',{category:'beginner'}) %>
        <a href="./" class="btn -center">Home</a>
    </section>


    <%- include('../../_include/magazine_' + lang) %>
    <%- include('../../_include/footer_' + lang, {lower:1}) %>
    <%- include('../../_include/navFix_' + lang) %>

</div>

<%- include('../../_include/script') %>

</body>
</html>