<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include('../_include/meta', {title:'営業案内・入館料'}) %>
    <%- include('../_include/style', {lang:'ja'}) %>

    <%- include('../_include/analytics') %>
</head>
<body class="p-fees p-lower">

<%- include('../_include/header',{lower:1}) %>

<div id="main">
    <section class="sec-header">
        <div class="sec-header_title">
            <h2>営業案内・入館料</h2>
            <a href="/" class="back"></a>
        </div>
    </section>

    <section class="time">
        <div class="sec-title">営業時間</div>
        <div class="time-summary">
            <p>11:00～翌9:00</p>
            <span class="f-small">※16歳未満のみのグループのご利用は19時まで、<br class="sp">18歳未満のご利用は22時までです。</span><br>
            <span class="f-small">※休館・休業日: 3月13日（水）、4月17日（水）、5月15日（水）、<br class="sp">6月19日（水）、7月10日（水）、8月21日（水）、<br>
                9月11日（水）、10月9日（水）、11月20日（水）、12月18日（水）</span>
        </div>
    </section>

    <section class="fees">
        <div class="sec-title">ご利用料金</div>
        <div class="fee-list">
            <div class="fee-item">
                <table class="fee-table -entry">
                    <caption>入館料</caption>
                    <tr>
                        <th> </th><th>平日</th><th>土日祝</th><th>特定日</th>
                    </tr>
                    <tr>
                        <td>大人</td><td>¥2,400</td><td>¥2,600</td><td>¥2,800</td>
                    </tr>
                    <tr>
                        <td>小人</td><td>¥1,200</td><td>¥1,300</td><td>¥1,400</td>
                    </tr>
                </table>
                <div class="fee-item_note">
                    ※小人料金対象は4～小学生のお客様。4歳未満無料。<br>
                    ※バスタオル・館内着込み
                </div>
            </div>
            <div class="fee-item">
                <table class="fee-table -bath">
                    <caption>朝風呂<br>
                        <span class="f-small">6:00～9:00<br>（最終入場 8:00 / 大浴場利用 8:30まで）</span>
                    </caption>
                    <tr>
                        <th> </th><th>平日</th><th>土日祝</th><th>特定日</th>
                    </tr>
                    <tr>
                        <td>大人</td><td>¥1,200</td><td>¥1,300</td><td>¥1,400</td>
                    </tr>
                    <tr>
                        <td>小人</td><td>¥600</td><td>¥650</td><td>¥700</td>
                    </tr>
                </table>
                <div class="fee-item_note">
                    朝6時から朝9時のみのご利用の場合の入館料です。<br>
                    ※バスタオル ・ 館内着込み。
                </div>
            </div>
        </div>
    </section>

    <section class="option">
        <div class="sec-title">オプション</div>
        <div class="fee-list">
            <div class="fee-item">
                <table class="fee-table -night">
                    <caption>深夜料金<br>
                        <span class="f-small">1:00～6:00</span>
                    </caption>
                    <tr>
                        <th> </th><th>平日</th><th>土日祝</th><th>特定日</th>
                    </tr>
                    <tr>
                        <td>大人 <span class="f-xxsmall"><br>(小人も同じ)</span></td><td>¥2,000</td><td>¥2,200</td><td>¥2,200</td>
                    </tr>
                </table>
                <div class="fee-item_note">
                    夜1時以降在館の場合の追加料金です。
                </div>
            </div>
            <div class="fee-item">
                <table class="fee-table -ganbanyoku">
                    <caption>岩盤浴<br>
                        <span class="f-small">11:00～23:00（受付終了 22:00）</span>
                    </caption>
                    <tr>
                        <th> </th><th>平日</th><th>土日祝</th><th>特定日</th>
                    </tr>
                    <tr>
                        <td>大人</td><td>¥1,000</td><td>¥1,200</td><td>¥1,200</td>
                    </tr>
                </table>
                <div class="fee-item_note">
                    ※岩盤浴は大人のみのご利用となります。
                </div>
            </div>
        </div>
        <div class="fee-list -col1">
            <div class="fee-item">
                <table class="fee-table -family">
                    <caption>家族風呂<br>
                        <span class="f-small">11:00～23:00（受付終了 21:00）</span>
                    </caption>
                    <tr>
                        <td>
                            <div>
                                <p>大部屋<br>
                                    最初の2時間　<strong class="f-large">10,000円</strong> / 1部屋<br></p>
                                <span class="f-smaller">
                                    ※延長は1時間4,000円にて承ります。<br>
                                    ※4～6名様でのご利用がおすすめです。
                                </span>
                            </div>
                            <div>
                                <p>小部屋<br>
                                    最初の2時間　<strong class="f-large">7,000円</strong> / 1部屋<br></p>
                                <span class="f-smaller">
                                    ※延長は1時間4,000円にて承ります。<br>
                                    ※4名様位までのご利用がおすすめです。<br>
                                    ※車いす対応部屋は小部屋料金です。
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="fee-list">
            <div class="fee-item">
                <table class="fee-table -fish">
                    <caption>フィッシュセラピー<br>
                        <span class="f-small">12:00～21:00（受付終了20:45）</span></caption>
                    <tr>
                        <td><strong class="f-large">1,000円</strong> / 10分</td>
                    </tr>
                </table>
            </div>
            <div class="fee-item">
                <table class="fee-table -health">
                    <caption>セルフエステコーナー<br>
                        <span class="f-small">（女性専用パウダールーム お粧し処内）<br>13:00~22:00（最終受付21:30）</span>
                    </caption>
                    <tr>
                        <td><strong class="f-large">500円</strong> / 1席30分</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>

    <section class="hours">
        <div class="sec-title">オプション</div>
        <div class="hours-btn_block">
            <a href="" class="hours-btn js-switch-tab-btn -active" data-tab-btn="2">2F</a>
            <a href="" class="hours-btn -disabled" data-tab-btn="3">3F</a>
            <a href="" class="hours-btn js-switch-tab-btn" data-tab-btn="4">4F・5F</a>
        </div>
        <div class="hours-list">
            <div class="hours-table js-switch-tab" data-tab-id="2">
                <dl>
                    <dt>割烹 浮世亭</dt>
                    <dd><p>11:00～22:00(L.O. 21:30)</p></dd>
                </dl>
                <dl>
                    <dt>居酒屋 縄のれん いづみや /<br>
                        つのくにや /<br class="pc">かわちや</dt>
                    <dd><p>11:00～22:00(L.O. 21:30)</p></dd>
                </dl>
                <dl>
                    <dt>角打ち 山善亭</dt>
                    <dd><p>12:00～23:00<br>
                            朝食 7:00～8:30</p></dd>
                </dl>
                <dl>
                    <dt>茶店 小町茶屋</dt>
                    <dd><p>11:00～22:00</p></dd>
                </dl>
                <dl>
                    <dt>小間物弁天堂 /<br class="pc">SAKE 伊丹郷山中屋 /<br>
                        紅おしろい 紅華本舗 /<br class="pc">空庭菓匠</dt>
                    <dd><p>11:00～22:00</p></dd>
                </dl>
                <dl>
                    <dt>癒し処 啓楽院</dt>
                    <dd>
                        <p>
                            <strong>ボディケア / ストレッチ</strong>
                            11:30～翌3:00(受付開始11:30 / 受付終了 翌2:30)
                        </p>
                        <p>
                            <strong>エステ</strong>
                            11:30～23:00(受付開始11:00 / 受付終了 22:00)
                        </p>
                    </dd>
                </dl>
                <dl>
                    <dt>足つぼ耳つぼ 夢や</dt>
                    <dd>
                        <p>11:30～22:00(受付開始11:00 / 受付終了 21:00)</p>
                    </dd>
                </dl>
                <dl>
                    <dt>呉服所 京錦</dt>
                    <dd>
                        <p>11:30～22:00(受付開始11:00 / 受付終了 21:00)</p>
                    </dd>
                </dl>
                <dl>
                    <dt>大坂屋写場</dt>
                    <dd>
                        <p>11:00～20:00<br>
                            (カメラマン撮影対応時間 11:00～19:00)<br>
                            (フォトスポット機撮影対応時間 11:00～17:00 日没で終了)</p>
                    </dd>
                </dl>
                <dl>
                    <dt>セルフエステコーナー<br>
                        (女性専用パウダールーム <br>お粧し処内)</dt>
                    <dd>
                        <p>13:00～22:00 (受付終了 21:30)</p>
                    </dd>
                </dl>
                <dl>
                    <dt>熱風横丁（岩盤浴）</dt>
                    <dd>
                        <p>11:00～23:00 (受付終了 22:00)</p>
                    </dd>
                </dl>
            </div>
            <div class="hours-table js-switch-tab" data-tab-id="4">
                <dl>
                    <dt>4F あかすり殿(入浴エリア内)</dt>
                    <dd><p>11:30～翌1:00(受付開始11:00 / 受付終了 24:00)</p></dd>
                </dl>
                <dl>
                    <dt>4F フィッシュセラピー 魚集家</dt>
                    <dd><p>12:00～21:00(受付終了 20:45)</p></dd>
                </dl>
                <dl>
                    <dt>5F 殿下茶屋</dt>
                    <dd><p>11:00～22:00</p></dd>
                </dl>
                <dl>
                    <dt>5F 野点処 屋台</dt>
                    <dd><p>12:00～21:00</p></dd>
                </dl>
                <dl>
                    <dt>5F フィッシュセラピー 魚集家</dt>
                    <dd><p>12:00～21:00(受付終了 20:45)</p></dd>
                </dl>
            </div>
        </div>
    </section>

    <section class="attention">
        <ul>
            <li>※消費税 ・ 大阪市入湯税別</li>
            <li>※大阪市入湯税は大人の入浴料1,501円以上で適用（朝風呂料金及び小学生以下は課税対象外）。</li>
            <li>※特定日: ゴールデンウィークや年末年始等。<br>
            2019年の特定日：4月27日（土）～5月6日（月）、8月10日（土）～15日（木）、12月28日（土）～1月5日（日）</li>
            <li>※表示の価格 ・ 時間 ・ 名称はすべて予定です。内容はオープンまでに予告なく変更する場合がございますのでご了承願います。</li>
        </ul>
    </section>

    <%- include('../_include/magazine') %>
    <%- include('../_include/footer', {lower:1}) %>
    <%- include('../_include/navFix') %>
</div>

<%- include('../_include/script') %>

</body>
</html>