<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include('../_include/meta', {title:'フォトギャラリー'}) %>
    <%- include('../_include/style', {lang:'ja'}) %>

    <%- include('../_include/analytics') %>
</head>
<body class="p-gallery p-lower">

<%- include('../_include/header',{lower:1}) %>

<div id="main">
    <section class="sec-header">
        <div class="sec-header_title">
            <h2>フォトギャラリー</h2>
            <a href="/" class="back"></a>
        </div>
    </section>

    <section class="gallery-list">
        <div class="gallery-item">
            <a href="/assets/images/gallery/detail-000.jpg" class="js-gallery"><img src="/assets/images/gallery/000.jpg" alt=""></a>
        </div>
        <div class="gallery-item">
            <a href="/assets/images/gallery/detail-001.jpg" class="js-gallery"><img src="/assets/images/gallery/001.jpg" alt=""></a>
        </div>
        <div class="gallery-item">
            <a href="/assets/images/gallery/detail-002.jpg" class="js-gallery"><img src="/assets/images/gallery/002.jpg" alt=""></a>
        </div>
        <div class="gallery-item">
            <a href="/assets/images/gallery/detail-003.jpg" class="js-gallery"><img src="/assets/images/gallery/003.jpg" alt=""></a>
        </div>
        <div class="gallery-item">
            <a href="/assets/images/gallery/detail-004.jpg" class="js-gallery"><img src="/assets/images/gallery/004.jpg" alt=""></a>
        </div>
        <div class="gallery-item">
            <a href="/assets/images/gallery/detail-005.jpg" class="js-gallery"><img src="/assets/images/gallery/005.jpg" alt=""></a>
        </div>
        <div class="gallery-item">
            <a href="/assets/images/gallery/detail-006.jpg" class="js-gallery"><img src="/assets/images/gallery/006.jpg" alt=""></a>
        </div>
        <div class="gallery-item">
            <a href="/assets/images/gallery/detail-007.jpg" class="js-gallery"><img src="/assets/images/gallery/007.jpg" alt=""></a>
        </div>
        <div class="gallery-item">
            <a href="/assets/images/gallery/detail-008.jpg" class="js-gallery"><img src="/assets/images/gallery/008.jpg" alt=""></a>
        </div>
        <div class="gallery-item">
            <a href="/assets/images/gallery/detail-009.jpg" class="js-gallery"><img src="/assets/images/gallery/009.jpg" alt=""></a>
        </div>
        <div class="gallery-item">
            <a href="/assets/images/gallery/detail-010.jpg" class="js-gallery"><img src="/assets/images/gallery/010.jpg" alt=""></a>
        </div>
        <div class="gallery-item">
            <a href="/assets/images/gallery/detail-011.jpg" class="js-gallery"><img src="/assets/images/gallery/011.jpg" alt=""></a>
        </div>
        <div class="gallery-item">
            <a href="/assets/images/gallery/detail-012.jpg" class="js-gallery"><img src="/assets/images/gallery/012.jpg" alt=""></a>
        </div>
        <div class="gallery-item">
            <a href="/assets/images/gallery/detail-013.jpg" class="js-gallery"><img src="/assets/images/gallery/013.jpg" alt=""></a>
        </div>
        <div class="gallery-item">
            <a href="/assets/images/gallery/detail-014.jpg" class="js-gallery"><img src="/assets/images/gallery/014.jpg" alt=""></a>
        </div>
        <div class="gallery-item">
            <a href="/assets/images/gallery/detail-015.jpg" class="js-gallery"><img src="/assets/images/gallery/015.jpg" alt=""></a>
        </div>
        <div class="gallery-item">
            <a href="/assets/images/gallery/detail-016.jpg" class="js-gallery"><img src="/assets/images/gallery/016.jpg" alt=""></a>
        </div>
        <div class="gallery-item">
            <a href="/assets/images/gallery/detail-017.jpg" class="js-gallery"><img src="/assets/images/gallery/017.jpg" alt=""></a>
        </div>
        <div class="gallery-item">
            <a href="/assets/images/gallery/detail-018.jpg" class="js-gallery"><img src="/assets/images/gallery/018.jpg" alt=""></a>
        </div>
        <div class="gallery-item">
            <a href="/assets/images/gallery/detail-019.jpg" class="js-gallery"><img src="/assets/images/gallery/019.jpg" alt=""></a>
        </div>
        <div class="gallery-item">
            <a href="/assets/images/gallery/detail-020.jpg" class="js-gallery"><img src="/assets/images/gallery/020.jpg" alt=""></a>
        </div>
        <div class="gallery-item">
            <a href="/assets/images/gallery/detail-021.jpg" class="js-gallery"><img src="/assets/images/gallery/021.jpg" alt=""></a>
        </div>
        <div class="gallery-item">
            <a href="/assets/images/gallery/detail-022.jpg" class="js-gallery"><img src="/assets/images/gallery/022.jpg" alt=""></a>
        </div>
        <div class="gallery-item">
            <a href="/assets/images/gallery/detail-023.jpg" class="js-gallery"><img src="/assets/images/gallery/023.jpg" alt=""></a>
        </div>
        <div class="gallery-item">
            <a href="/assets/images/gallery/detail-024.jpg" class="js-gallery"><img src="/assets/images/gallery/024.jpg" alt=""></a>
        </div>
        <div class="gallery-item">
            <a href="/assets/images/gallery/detail-025.jpg" class="js-gallery"><img src="/assets/images/gallery/025.jpg" alt=""></a>
        </div>
        <div class="gallery-item">
            <a href="/assets/images/gallery/detail-026.jpg" class="js-gallery"><img src="/assets/images/gallery/026.jpg" alt=""></a>
        </div>
        <div class="gallery-item">
            <a href="/assets/images/gallery/detail-027.jpg" class="js-gallery"><img src="/assets/images/gallery/027.jpg" alt=""></a>
        </div>

    </section>


    <%- include('../_include/magazine') %>
    <%- include('../_include/footer', {lower:1}) %>
    <%- include('../_include/navFix') %>

    <div class="modal-window modal-gallery">
        <div class="modal-gallery-in">
            <a href="" class="modal-close js-modal-close"></a>
            <img src="" alt="">
        </div>
        <div class="modal-gallery-nav">
            <button class="nav-btn -prev"></button>
            <button class="nav-btn -next"></button>
        </div>
    </div>
</div>

<%- include('../_include/script') %>
<script src="/assets/js/gallery.js"></script>

</body>
</html>