<%
var top = 'class="white"';
var topDir = '/en/';
%>
<header <%- lower == '0' ? top : '' %>>
    <p class="logo">
        <a href="<%- topDir %>">
            <picture>
                <source media="(max-width: 768px)" srcset="/assets/images/cmn/solaniwa-logo-black@2x.png">
                <img src="/assets/images/cmn/solaniwa-logo-black.png" srcset="/assets/images/cmn/solaniwa-logo-black@2x.png 2x" alt="Solaniwa Onsen">
            </picture>
            <% if (lower == '0') { %>
            <picture>
                <source media="(max-width: 768px)" srcset="/assets/images/cmn/solaniwa-logo-white-sp.png">
                <img src="/assets/images/cmn/solaniwa-logo-white.png" srcset="/assets/images/cmn/solaniwa-logo-white@2x.png 2x" alt="Solaniwa Onsen">
            </picture>
            <% } %>
        </a>
    </p>
    <nav>
        <div class="nv-head sp">
            <a href="<%- topDir %>"><img src="/assets/images/cmn/solaniwa-logo-white.svg" alt="Solaniwa Onsen"></a>
        </div>
        <div class="nv-btns">
            <div class="nv-btn">
                <img src="/assets/images/cmn/icn-nav-01.svg" alt="">
                <img src="/assets/images/cmn/icn-nav-01-white.svg" alt="">
                <span>Explorer</span>
                <div class="sub-nv">
                    <a href="<%- topDir %>explore/onsen.html"><img src="/assets/images/cmn/icn-nav-img-onsen.png" alt="Onsen"><span>Onsen</span></a>
                    <a href="<%- topDir %>explore/health.html"><img src="/assets/images/cmn/icn-nav-img-health.png" alt="Health"><span>Health</span></a>
                    <a href="<%- topDir %>explore/beauty.html"><img src="/assets/images/cmn/icn-nav-img-beauty.png" alt="Beauty"><span>Beauty</span></a>
                    <a href="<%- topDir %>explore/relax.html"><img src="/assets/images/cmn/icn-nav-img-relax.png" alt="Relax"><span>Relax</span></a>
                    <a href="<%- topDir %>explore/eat.html"><img src="/assets/images/cmn/icn-nav-img-eat.png" alt="Food"><span>Food</span></a>
                    <a href="<%- topDir %>explore/fun.html"><img src="/assets/images/cmn/icn-nav-img-fun.png" alt="Fun"><span>Fun</span></a>
                </div>
            </div>
            <a class="nv-btn" href="<%- topDir %>tickets/">
                <img src="/assets/images/cmn/icn-nav-02.svg" alt="">
                <img src="/assets/images/cmn/icn-nav-02-white.svg" alt="">
                <span>Online tickets</span></a>
            <a class="nv-btn <%- lower == '0' ? 'js-nv-floor' : '' %>" href="<%- topDir %>#floor">
                <img src="/assets/images/cmn/icn-nav-03.svg" alt="">
                <img src="/assets/images/cmn/icn-nav-03-white.svg" alt="">
                <span>Map</span></a>
            <a class="nv-btn" href="<%- topDir %>news/">
                <img src="/assets/images/cmn/icn-nav-04.svg" alt="">
                <img src="/assets/images/cmn/icn-nav-04-white.svg" alt="">
                <span>News</span></a>
            <a class="nv-btn" href="<%- topDir %>fees/">
                <img src="/assets/images/cmn/icn-nav-05.svg" alt="">
                <img src="/assets/images/cmn/icn-nav-05-white.svg" alt="">
                <span>Information</span></a>
        </div>
    </nav>
    <div class="nv-lang">
        <div class="current-lang">
            <img src="/assets/images/cmn/lang-en.png" alt="en">
            <div class="nv-lang-others">
                <a href="/"><img src="/assets/images/cmn/lang-ja.png" alt="ja"></a>
            </div>
        </div>
    </div>
    <div class="nv-switch"><p></p><p></p><p></p></div>
</header>