<% var lang = 'en'; %>
<% var isTop;var page; %>
<nav class="fixed-nav"><!--
    --><% if (isTop) {%><a href="" class="nv-explore js-nv-explore"><% } else {%><a href="/<%- lang %>/#explore" class="nv-explore"><% } %>
        <p><img src="/assets/images/cmn/icn-fnav-explore-gray.svg" alt=""><img src="/assets/images/cmn/icn-fnav-explore-red.svg" alt=""><img src="/assets/images/cmn/icn-fnav-explore-white.svg" alt=""></p>
        <span>Explore</span>
    </a><!--
    --><a href="/<%- lang %>/fees/">
        <p><img src="/assets/images/cmn/icn-fnav-fees-gray.svg" alt=""><img src="/assets/images/cmn/icn-fnav-fees-red.svg" alt=""><img src="/assets/images/cmn/icn-fnav-map-white.svg" alt=""></p>
        <span>Open・Fee</span>
    </a><!--
    <% if (false) {%>--><a href="javascript:void(0);" class="nv-plan">
        <p><img src="/assets/images/cmn/icn-fnav-plan-gray.svg" alt=""><img src="/assets/images/cmn/icn-fnav-plan-red.svg" alt=""><img src="/assets/images/cmn/icn-fnav-plan-white.svg" alt=""></p>
        <span>Plan</span>
    </a><!--<% } %>
    <% if (false) {%>--><a href="/<%- lang %>/tickets/" class="nv-tickets <%= page=='tickets' ? '-active' : ''%>">
        <p><img src="/assets/images/cmn/icn-fnav-tickets-gray.svg" alt=""><img src="/assets/images/cmn/icn-fnav-tickets-red.svg" alt=""><img src="/assets/images/cmn/icn-fnav-tickets-white.svg" alt=""></p>
        <span class="pc">Online Tickets</span>
        <span class="sp">Tickets</span>
    </a><!--<% } %>
    --><a href="/<%- lang %>/news/faq.html" class="<%= page=='faq' ? '-active' : ''%>">
        <p><img src="/assets/images/cmn/icn-fnav-faq-gray.svg" alt=""><img src="/assets/images/cmn/icn-fnav-faq-red.svg" alt=""><img src="/assets/images/cmn/icn-fnav-faq-white.svg" alt=""></p>
        <span>FAQ</span>
    </a><!--
    --><a href="https://www.osaka-baytower.com/" target="_blank" class="nv-hotel">
        <p><img src="/assets/images/cmn/icn-fnav-hotel-gray.svg" alt=""><img src="/assets/images/cmn/icn-fnav-hotel-red.svg" alt=""><img src="/assets/images/cmn/icn-fnav-hotel-white.svg" alt=""></p>
        <span>Hotel</span>
    </a><!--
    --><% if (isTop) {%><a href="" class="nv-guide js-nv-guide"><% } else {%><a href="/<%- lang %>/#guide" class="nv-guide"><% } %>
        <p><img src="/assets/images/cmn/icn-fnav-point-gray.svg" alt=""><img src="/assets/images/cmn/icn-fnav-point-red.svg" alt=""><img src="/assets/images/cmn/icn-fnav-point-white.svg" alt=""></p>
        <span>Access</span>
    </a><!--
    --><a href="tel:0676705126" class="nv-call js-contact-tell">
        <p><img src="/assets/images/cmn/icn-fnav-call-gray.svg" alt=""><img src="/assets/images/cmn/icn-fnav-call-red.svg" alt=""><img src="/assets/images/cmn/icn-fnav-call-white.svg" alt=""></p>
        <span class="pc">06-7670-5126</span><span class="sp">Call</span>
    </a><!--
--></nav>