<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include('../_include/meta', {title:'ソラニワあれこれ',path:'news/beginner.html'}) %>
    <%- include('../_include/style', {lang:'ja'}) %>

    <%- include('../_include/analytics') %>
</head>
<body class="p-news p-lower">

<%- include('../_include/header',{lower:1}) %>

<div id="main">

    <section class="news-article">
        <div class="news-article_header">
            <h2>初めての方へ</h2>
        </div>
        <div class="news-article_beginner">
            <div class="beginner-header">
                <div class="beginner-header_lead">空庭温泉は、大阪の魅力を改めて体感できる安土桃山時代の世界観がコンセプト。タイムスリップしたような空間の中で、温泉・健康・美・食・癒し・楽が叶う関西最大級の温泉型テーマパークです。美味しいものを食べ、大いに笑い、天然温泉でリラックス。空庭温泉を思う存分満喫し、美味しく、愉しく、美しいひとときをお過ごしください。</div>
                <div class="beginner-header_notice">
                    <dl>
                        <dt>ご来館の前に</dt>
                        <dd>・ 入れ墨・ボディアート(タトゥー・ペイント・シール等)のある方、暴力団員、その他反社会的団体構成員・関係者と認められる方、その他当施設をご利用いただくのに相応しくないと認められた方のご入館はお断りしています。<br>
                            ・ 泥酔された方、皮膚疾患、その他伝染病のおそれのある方のご入館はお断りしています。<br>
                            ・ 館内への飲食物の持ち込みはご遠慮ください。<br>
                            ・ 館内は禁煙です。喫煙は、所定の喫煙コーナーでお願いいたします。<br>
                            ・ 館内での事故・ケガ・盗難・紛失等の責任は一切負いかねます。あらかじめご了承ください。<br>
                            <br>
                            <span>※16歳未満のみのご利用は19時まで、18歳未満のみのご利用は22時までです。<br>
                                ※その他<a href="/term/term.html" class="link">利用規約</a>をご覧ください。<br>
                                ※刺青のサイズがフロントの大番所にてお渡しする規定のシールの大きさに収まる場合、シールで隠したうえで入浴いただけます。別途有償にて大判のシールもご用意していますので、大番所にてお尋ねください。また、刺青の方は別途追加料金で貸切家族風呂での入浴をおすすめいたします。</span></dd>
                    </dl>
                </div>
            </div>
            <div class="beginner-body">
                <div class="sec-title">ご利用の流れ</div>
                <div class="image">
                    <picture>
                        <source media="(max-width: 768px)" srcset="/assets/images/news/beginner/image-1-sp.jpg">
                        <img src="/assets/images/news/beginner/image-1.jpg" srcset="/assets/images/news/beginner/image-1@2x.jpg 2x" alt="">
                    </picture>
                </div>
                <div class="info info-1">
                    <dl>
                        <dt>1. 空庭温泉へ</dt>
                        <dd>大阪ベイタワーノース2F エントランス 波除御門よりお越しください。</dd>
                    </dl>
                </div>
                <div class="info info-2">
                    <dl>
                        <dt>2. リストバンド</dt>
                        <dd>脱いだお履物は、下足場のロッカーにお入れください。ロッカーキーがリストバンドになっています。館内ではリストバンドで精算をできるようになっており、財布と同じ役割を果しますので取扱いや紛失には十分ご注意ください。</dd>
                    </dl>
                </div>
                <div class="image">
                    <picture>
                        <source media="(max-width: 768px)" srcset="/assets/images/news/beginner/image-2-sp.jpg">
                        <img src="/assets/images/news/beginner/image-2.jpg" srcset="/assets/images/news/beginner/image-2@2x.jpg 2x" alt="">
                    </picture>
                </div>
                <div class="info info-3">
                    <dl>
                        <dt>3. チェックイン</dt>
                        <dd>大番所（フロント）にて、リストバンドをお見せください。<br>
                            各種チケットがございます場合はチェックイン時にご提出ください。</dd>
                    </dl>
                </div>
                <div class="info info-4">
                    <dl>
                        <dt>4. 館内着お受取り・お着替え</dt>
                        <dd>安土桃山時代をイメージした館内着をご用意しています。お着物場でお好きな館内着を選んでお着替えください。</dd>
                    </dl>
                </div>
                <div class="image">
                    <picture>
                        <source media="(max-width: 768px)" srcset="/assets/images/news/beginner/image-3-sp.jpg">
                        <img src="/assets/images/news/beginner/image-3.jpg" srcset="/assets/images/news/beginner/image-3@2x.jpg 2x" alt="">
                    </picture>
                </div>
                <div class="info info-5">
                    <dl>
                        <dt>5. 館内ご利用</dt>
                        <dd>館内でのお買い物や飲食の際は、リストバンドでお支払いいただき、お帰りの際にまとめてご精算いただけます。</dd>
                    </dl>
                </div>
                <div class="image">
                    <picture>
                        <source media="(max-width: 768px)" srcset="/assets/images/news/beginner/image-4-sp.jpg">
                        <img src="/assets/images/news/beginner/image-4.jpg" srcset="/assets/images/news/beginner/image-4@2x.jpg 2x" alt="">
                    </picture>
                </div>
                <div class="info info-6">
                    <dl>
                        <dt>6. タオル</dt>
                        <dd>貸出タオル（フェイスタオル、バスタオル）は脱衣場にご用意しておりますのでお使いください。</dd>
                    </dl>
                </div>
                <div class="image">
                    <picture>
                        <source media="(max-width: 768px)" srcset="/assets/images/news/beginner/image-5-sp.jpg">
                        <img src="/assets/images/news/beginner/image-5.jpg" srcset="/assets/images/news/beginner/image-5@2x.jpg 2x" alt="">
                    </picture>
                </div>
                <div class="info info-7">
                    <dl>
                        <dt>7. 各種サービスご利用</dt>
                        <dd>岩盤浴やボディケア、フィッシュセラピー、変身体験などは専用カウンター及び各店舗にて直接承っております。詳しい場所はフロアマップをご覧いただくか、お近くのスタッフへお尋ねください。</dd>
                    </dl>
                </div>
                <div class="image">
                    <picture>
                        <source media="(max-width: 768px)" srcset="/assets/images/news/beginner/image-6-sp.jpg">
                        <img src="/assets/images/news/beginner/image-6.jpg" srcset="/assets/images/news/beginner/image-6@2x.jpg 2x" alt="">
                    </picture>
                </div>
                <div class="info info-8">
                    <dl>
                        <dt>8. チェックアウト</dt>
                        <dd>タオルは5階脱衣場・2階更衣室に、館内着は2階更衣室出口にご返却ください。精算は自動精算機もしくは大番所でお願いいたします。空庭温泉メンバーシップカードへのポイントの加算は大番所にて承っております。</dd>
                    </dl>
                </div>

            </div>
            <div class="beginner-caution">
                <dl>
                    <dt>ご注意いただく点</dt>
                    <dd>リストバンドは紛失しないよう、入浴の際も身につけてください。<br>
                        貴重品の管理には、大番所（フロント）近くのフリーボックスをご利用いただけます。<br>
                        ロッカー、フリーボックスの鍵のかけ忘れにご注意ください。使用後は必ず施錠の確認をしてください。<br>
                        湯上がり処にはタオル以外はお持ち込みにならないようお願いいたします。<br>
                        リストバンド・シューズロッカーキー・館内着・タオルを紛失された場合は、補償金お支払いただきます。<br><br>
                        空庭温泉は色々な方が愉しむ公共の場所のなります。マナー守ってご利用いただき、至福の時間をお過ごしください。</dd>
                </dl>
            </div>
        </div>
    </section>

    <section class="news-others">
        <div class="sec-title">他の読み物を読む</div>
        <div class="news-list">
            <div class="news-list_item">
                <a href="momoyama.html">
                    <picture><img src="/assets/images/news/top/top-img-1.jpg" alt=""></picture>
                    <p class="date">2019.1.15</p>
                    <p class="desc">こころ踊る安土桃山時代</p>
                </a>
            </div>
            <div class="news-list_item">
                <a href="heroes.html">
                    <picture><img src="/assets/images/news/top/top-img-2.jpg" alt=""></picture>
                    <p class="date">2019.1.15</p>
                    <p class="desc">空庭ヒーローズ</p>
                </a>
            </div>
            <div class="news-list_item">
                <a href="onsen.html">
                    <picture><img src="/assets/images/news/top/top-img-3.jpg" alt=""></picture>
                    <p class="date">2019.1.15</p>
                    <p class="desc">空庭温泉で美味しく、愉しく、美しく</p>
                </a>
            </div>
            <div class="news-list_item">
                <a href="faq.html">
                    <picture><img src="/assets/images/news/top/top-img-4.jpg" alt=""></picture>
                    <p class="date">2019.2.15</p>
                    <p class="desc">よくある質問</p>
                </a>
            </div>
            <div class="news-list_item">
                <a href="event.html">
                    <picture><img src="/assets/images/news/top/top-img-6.jpg" alt=""></picture>
                    <p class="date">2019.2.15</p>
                    <p class="desc">ショー・イベントプログラム</p>
                </a>
            </div>
        </div>
        <a href="./" class="btn -center">一覧に戻る</a>
    </section>


    <%- include('../_include/magazine') %>
    <%- include('../_include/footer', {lower:1}) %>
    <%- include('../_include/navFix') %>

</div>

<%- include('../_include/script') %>

</body>
</html>