<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include('../_include/meta', {title:'ショー・イベントプログラム',path:'event/index.html'}) %>
    <%- include('../_include/style', {lang:'ja'}) %>

    <%- include('../_include/analytics') %>
</head>
<body class="p-news p-lower">

<%- include('../_include/header',{lower:1}) %>

<div id="main">

    <section class="news-article_event">
        <div class="news-article_header">
            <h2>ショー・イベント<br class="sp">プログラム</h2>
            <picture>
                <source media="(max-width: 768px)" srcset="/assets/images/news/event/head-image-sp.jpg">
                <img src="/assets/images/news/event/head-image.jpg" alt="">
            </picture>
        </div>
        <div class="news-article_body">
            <div class="event-item">
                <div class="event-item_image">
                    <div class="catch">
                        <span>熱さが心地いい</span><br>
                        <span>パフォーマンスショー</span>
                    </div>
                    <picture>
                        <img src="/assets/images/news/event/image-1.jpg" alt="">
                    </picture>
                </div>
                <div class="event-item_title">
                    <h3>ロウリュウショー</h3>
                    <p>2F 熱風横丁 神宮房</p>
                </div>
                <div class="event-item_info">
                    <div class="desc">古の名医として知られる「曲直瀬道三」の弟子たちによるデトックスロウリュウショー。臨場感あふれるショーを愉しみながら、からだも心もデトックスできます。</div>
                    <div class="schedule">
                        <dl>
                            <dt>平日</dt><dd>15:00～15:20、 19:00～19:20</dd>
                        </dl>
                        <dl>
                            <dt>土日祝</dt><dd>13:00～13:20、16:00～16:20、<br class="sp">19:00～19:20</dd>
                        </dl>
                        <p class="notice">※岩盤浴エリアのため、岩盤浴利用料が別途必要となります。</p>
                    </div>
                </div>
            </div>
            <div class="event-item">
                <div class="event-item_image">
                    <div class="catch">
                        <span>おいしい日本酒に</span><br>
                        <span>出会える新体験</span>
                    </div>
                    <picture>
                        <img src="/assets/images/news/event/image-2.jpg" alt="">
                    </picture>
                </div>
                <div class="event-item_title">
                    <h3>角打ちショー</h3>
                    <p>2F 食い倒れ横町 角打ち 山善亭</p>
                </div>
                <div class="event-item_info">
                    <div class="desc">弁天通りに酒店を展開する「鴻池善右衛門」が、角打ち「山善亭」で選りすぐりの日本酒を紹介します。お酒好きの方にも、日本酒ビギナーの方にも、おすすめです。</div>
                    <div class="schedule">
                        <dl>
                            <dt>平日</dt><dd>14:00～14:20、18:00～18:20</dd>
                        </dl>
                        <dl>
                            <dt>土日祝</dt><dd>12:00～12:20、15:00～15:20、<br class="sp">18:00～18:20</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="event-item">
                <div class="event-item_image">
                    <div class="catch">
                        <span>笑ってすっきり</span><br>
                        <span>温泉でゆったり</span>
                    </div>
                    <picture>
                        <img src="/assets/images/news/event/image-3.jpg" alt="">
                    </picture>
                </div>
                <div class="event-item_title">
                    <h3>空庭座</h3>
                    <p>大阪ベイタワーノース 1F　空庭亭</p>
                </div>
                <div class="event-item_info">
                    <div class="desc">毎週土曜日は「空庭亭」でお笑いイベント開催。<br>
                        たくさん笑った後は、温泉でゆっくりからだを癒してください。</div>
                    <div class="schedule">
                        <dl>
                            <dd>3月2日（土）～5月25日（土）<br>
                                土　14:00～14:35、18:00～18:35</dd>
                        </dl>
                        <dl>
                            <dd>3月20日（水）～4月7日（日）<br>
                                月～日　14:00～14:35、18:00～18:35</dd>
                        </dl>
                        <p class="notice">※空庭亭は、空庭温泉とは別の施設です。<br>
                            　空庭温泉入館前もしくは退館後にお楽しみください。 </p>
                    </div>
                </div>

                <div class="event-guest">
                    <h4>3月の出演タレント</h4>
                    <div class="event-guest_list">
                        <div class="event-guest_item -sat">
                            <div class="time">
                                <p class="month">3月</p>
                                <p class="day">2日<span>（土）</span></p>
                            </div>
                            <dl>
                                <dd>酒井くにおとおる<br>
                                    アルミカン</dd>
                                <dt>MC</dt>
                                <dd>きのせひかる</dd>
                            </dl>
                        </div>
                        <div class="event-guest_item -sat">
                            <div class="time">
                                <p class="month">3月</p>
                                <p class="day">9日<span>（土）</span></p>
                            </div>
                            <dl>
                                <dd>代走みつくに<br>
                                    コンチェルト</dd>
                                <dt>MC</dt>
                                <dd>きのせひかる</dd>
                            </dl>
                        </div>
                        <div class="event-guest_item -sat">
                            <div class="time">
                                <p class="month">3月</p>
                                <p class="day">16日<span>（土）</span></p>
                            </div>
                            <dl>
                                <dd>笑福亭風喬<br>
                                    土方兄弟</dd>
                                <dt>MC</dt>
                                <dd>オーケイ岡山</dd>
                            </dl>
                        </div>
                        <div class="event-guest_item -sun">
                            <div class="time">
                                <p class="month">3月</p>
                                <p class="day">20日<span>（日）</span></p>
                            </div>
                            <dl>
                                <dd>森乃石松<br>
                                    代走みつくに</dd>
                                <dt>MC</dt>
                                <dd>新宅マキ</dd>
                            </dl>
                        </div>
                        <div class="event-guest_item -sun">
                            <div class="time">
                                <p class="month">3月</p>
                                <p class="day">21日<span>（木・祝）</span></p>
                            </div>
                            <dl>
                                <dd>笑福亭恭瓶<br>
                                    トリオザスリー</dd>
                                <dt>MC</dt>
                                <dd>新宅マキ</dd>
                            </dl>
                        </div>
                        <div class="event-guest_item">
                            <div class="time">
                                <p class="month">3月</p>
                                <p class="day">22日<span>（金）</span></p>
                            </div>
                            <dl>
                                <dd>酒井くにおとおる<br>
                                    かみじょうたけし</dd>
                                <dt>MC</dt>
                                <dd>きのせひかる</dd>
                            </dl>
                        </div>
                        <div class="event-guest_item -sat">
                            <div class="time">
                                <p class="month">3月</p>
                                <p class="day">23日<span>（土）</span></p>
                            </div>
                            <dl>
                                <dd>トライアングル<br>
                                    どんぐり兄弟</dd>
                                <dt>MC</dt>
                                <dd>新宅マキ</dd>
                            </dl>
                        </div>
                        <div class="event-guest_item -sun">
                            <div class="time">
                                <p class="month">3月</p>
                                <p class="day">24日<span>（日）</span></p>
                            </div>
                            <dl>
                                <dd>雷ジャクソン<br>
                                    パンドラ</dd>
                                <dt>MC</dt>
                                <dd>新宅マキ</dd>
                            </dl>
                        </div>
                        <div class="event-guest_item">
                            <div class="time">
                                <p class="month">3月</p>
                                <p class="day">25日<span>（月）</span></p>
                            </div>
                            <dl>
                                <dd>ボルトボルズ<br>
                                    土方兄弟</dd>
                                <dt>MC</dt>
                                <dd>田口万莉</dd>
                            </dl>
                        </div>
                        <div class="event-guest_item">
                            <div class="time">
                                <p class="month">3月</p>
                                <p class="day">26日<span>（火）</span></p>
                            </div>
                            <dl>
                                <dd>ボルトボルズ<br>
                                    ベルサイユ</dd>
                                <dt>MC</dt>
                                <dd>田口万莉</dd>
                            </dl>
                        </div>
                        <div class="event-guest_item">
                            <div class="time">
                                <p class="month">3月</p>
                                <p class="day">27日<span>（水）</span></p>
                            </div>
                            <dl>
                                <dd>アルミカン<br>
                                    コンチェルト</dd>
                                <dt>MC</dt>
                                <dd>きのせひかる</dd>
                            </dl>
                        </div>
                        <div class="event-guest_item">
                            <div class="time">
                                <p class="month">3月</p>
                                <p class="day">28日<span>（木）</span></p>
                            </div>
                            <dl>
                                <dd>代走みつくに<br>
                                    天然もろこし</dd>
                                <dt>MC</dt>
                                <dd>新宅マキ</dd>
                            </dl>
                        </div>
                        <div class="event-guest_item">
                            <div class="time">
                                <p class="month">3月</p>
                                <p class="day">29日<span>（金）</span></p>
                            </div>
                            <dl>
                                <dd>笑福亭飛梅<br>
                                    かみじょうたけし</dd>
                                <dt>MC</dt>
                                <dd>オーケイ岡山</dd>
                            </dl>
                        </div>
                        <div class="event-guest_item -sat">
                            <div class="time">
                                <p class="month">3月</p>
                                <p class="day">30日<span>（土）</span></p>
                            </div>
                            <dl>
                                <dd>笑福亭風喬<br>
                                    トリオザスリー</dd>
                                <dt>MC</dt>
                                <dd>やのぱん</dd>
                            </dl>
                        </div>
                        <div class="event-guest_item -sun">
                            <div class="time">
                                <p class="month">3月</p>
                                <p class="day">31日<span>（日）</span></p>
                            </div>
                            <dl>
                                <dd>チキチキジョニー<br>
                                    パンドラ</dd>
                                <dt>MC</dt>
                                <dd>きのせひかる</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="news-article_share">
            <p>Share on:</p>
            <a href="" class="js-share-fb"><img src="/assets/images/cmn/sns-fb.svg" alt="facebook"></a>
            <a href="" class="js-share-line"><img src="/assets/images/cmn/sns-line.svg" alt="LINE"></a>
        </div>
    </section>

    <section class="news-others">
        <div class="sec-title">他の読み物を読む</div>
        <%- include('./_newslist',{category:'event'}) %>
        <a href="./" class="btn -center">一覧に戻る</a>
    </section>


    <%- include('../_include/magazine') %>
    <%- include('../_include/footer', {lower:1}) %>
    <%- include('../_include/navFix') %>

</div>

<%- include('../_include/script') %>

</body>
</html>