<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include('../_include/meta', {title:'ソラニワあれこれ',path:'news/faq.html'}) %>
    <%- include('../_include/style', {lang:'ja'}) %>

    <%- include('../_include/analytics') %>
</head>
<body class="p-news p-lower">

<%- include('../_include/header',{lower:1}) %>

<div id="main">

    <section class="news-article">
        <div class="news-article_header">
            <h2>よくある質問</h2>
        </div>
        <div class="news-article_body">
            <dl class="faq-item">
                <dt><span>Q</span>近くに宿泊施設はありますか。</dt>
                <dd>当館はリクライニングチェアーを含めた仮眠施設もございます。（深夜1：00以降の御在館には別途深夜料金がかかります。）<br>
                    また、施設内に、グループホテルの「アートホテル 大阪ベイタワー」がございます。<br>
                    詳細はこちらのページでご確認ください。<br>
                    <a href="https://www.osaka-baytower.com" target="_blank" class="link">＞アートホテル 大阪ベイタワー Webサイト</a>
                </dd>
            </dl>
            <dl class="faq-item">
                <dt><span>Q</span>喫煙所はありますか。</dt>
                <dd>館内2か所に喫煙所を設けております。<br>
                    2F 空庭天神横と4F 天空庭園 フィッシュセラピー「魚集家」横にございます。
                </dd>
            </dl>
            <dl class="faq-item">
                <dt><span>Q</span>営業時間を教えてください。</dt>
                <dd>11:00～翌9:00です。各店舗の営業時間については営業案内のページをご覧ください。<br>
                    <a href="/fees/" class="link">＞営業案内</a></dd>
            </dl>
            <dl class="faq-item">
                <dt><span>Q</span>支払い方法は何がありますか。</dt>
                <dd>現金の他、各種クレジットカード、ALIPAY（アリペイ/支付宝）、WeChatペイがご利用いただけます。<br>
                    対応クレジットカード: VISA、Mastercard、JCB、AMEX、Diners、ディスカバー、銀嶺<br>
                    ※自動精算機は、ディスカバー、銀嶺は対応しておりません。
                </dd>
            </dl>
            <dl class="faq-item">
                <dt><span>Q</span>館内で購入した商品を発送してもらえますか？</dt>
                <dd>はい。2F クロークで承っております。</dd>
            </dl>
            <dl class="faq-item">
                <dt><span>Q</span>ベビーカーでの入館は可能でしょうか？</dt>
                <dd>館内は素足に近い状態でお過ごしいただくため、ご利用いただけませんのでクロークにてお預かりいたします。お預かりは無料です。</dd>
            </dl>
            <dl class="faq-item">
                <dt><span>Q</span>車いすでの入館は可能でしょうか？</dt>
                <dd>はい。当館で館内用の車いすをご用意しております。また、車いす対応の家族風呂もご用意しております（有料）のでぜひご利用ください。</dd>
            </dl>
            <dl class="faq-item">
                <dt><span>Q</span>館内にATMはありますか？</dt>
                <dd>空庭温泉施設内にはございませんが、大阪ベイタワーイースト1階に「近畿大阪銀行ATM」がある他、大阪ベイタワーウエスト2階「ファミリーマート港弁天ORC店」内のATMがご利用いただけます。</dd>
            </dl>
            <% if (false) { %><dl class="faq-item">
                <dt><span>Q</span>朝ごはんは食べられますか？</dt>
                <dd>はい。2F 角打ち 山善亭にてご用意しております。（7:00～8:30）<br>
                    おにぎりやうどんの他、こだわり出汁のお茶漬け各種をお楽しみください。
                </dd>
            </dl><% } %>
            <dl class="faq-item">
                <dt><span>Q</span>施設の利用規約を確認したい。</dt>
                <dd>こちらのページでご確認いただけます。<br>
                    <a href="/term/term.html">＞利用規約</a>
                </dd>
            </dl>
        </div>
    </section>

    <section class="news-others">
        <div class="sec-title">他の読み物を読む</div>
        <%- include('./_newslist',{category:'faq'}) %>
        <a href="./" class="btn -center">一覧に戻る</a>
    </section>


    <%- include('../_include/magazine') %>
    <%- include('../_include/footer', {lower:1}) %>
    <%- include('../_include/navFix',{page:'faq'}) %>

</div>

<%- include('../_include/script') %>

</body>
</html>