<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include('../_include/meta', {title:'ソラニワあれこれ',path:'news/heroes.html'}) %>
    <%- include('../_include/style', {lang:'ja'}) %>

    <%- include('../_include/analytics') %>
</head>
<body class="p-news p-lower">

<%- include('../_include/header',{lower:1}) %>

<div id="main">

    <section class="news-article">
        <div class="news-article_header">
            <h2>空庭ヒーローズ</h2>
            <picture>
                <source media="(max-width: 768px)" srcset="/assets/images/news/heroes/head-image-sp.jpg">
                <img src="/assets/images/news/heroes/head-image.jpg" alt="">
            </picture>
        </div>
        <div class="news-article_body">
            <p class="news-article_text">
                空庭温泉には安土桃山時代からタイムスリップしてきたさまざまなヒーローたちがいます。お客様にひとつ上のひとときをお届けする魅力的かつ個性的な5人をご紹介いたします。
            </p>
            <div class="news-article_item">
                <picture>
                    <source media="(max-width: 768px)" srcset="/assets/images/news/heroes/image-1-sp.jpg">
                    <img src="/assets/images/news/heroes/image-1.jpg" srcset="/assets/images/news/heroes/image-1@2x.jpg 2x" alt="">
                </picture>
                <dl class="desc">
                    <dt>曲直瀬道三</dt>
                    <dt>(まなせどうざん)</dt>
                    <dd>まず初めに紹介するのは、天皇をはじめ足利将軍家、毛利元就、織田信長、豊臣秀吉、徳川家康など多くの武将の主治医を務めたとされる戦国時代の名医・曲直瀬道三。現代人特有のスマホによる目や肩のストレスなど、不健康な暮らしぶりを憂い、空庭温泉に訪れた人々を癒します。かつては健康法をわかりやすく歌にした「養生誹諧」をしたためていて、その空庭温泉版も書き下ろし予定。岩盤浴のロウリュウショーでは曲直瀬道三の「空庭版の陰陽五行」の火の業で、身も心もデトックスできます。</dd>
                </dl>
            </div>
            <div class="news-article_item">
                <picture>
                    <source media="(max-width: 768px)" srcset="/assets/images/news/heroes/image-2-sp.jpg">
                    <img src="/assets/images/news/heroes/image-2.jpg" srcset="/assets/images/news/heroes/image-2@2x.jpg 2x" alt="">
                </picture>
                <dl class="desc">
                    <dt>皆川とら</dt>
                    <dt>(みながわとら)</dt>
                    <dd>
                        日本で初めて化粧品店を開業し、大繁盛させたと言われるのが皆川とらです。飽くなき美への探究心と先見性を持つとらが試行錯誤を重ねて作り上げた化粧品はのベースは主に自然素材。一人ひとりの女性が持つ美しさを引き出すとされ、彼女が選び抜いた化粧品はいつも、艶っぽい女性を演出すると評判の品ばかりです。現代の多くの女性のニーズに応える化粧品、美容アイテムの数々を空庭温泉でお披露目してくれます。</dd>
                </dl>
            </div>
            <div class="news-article_item">
                <picture>
                    <source media="(max-width: 768px)" srcset="/assets/images/news/heroes/image-3-sp.jpg">
                    <img src="/assets/images/news/heroes/image-3.jpg" srcset="/assets/images/news/heroes/image-3@2x.jpg 2x" alt="">
                </picture>
                <dl class="desc">
                    <dt>鴻池善右衛門</dt>
                    <dt>(こうのいけぜんえもん)</dt>
                    <dd>伊丹の酒蔵、鴻池山中家の始祖と言われ、日本で初めて清酒を開発した鴻池新六の息子が鴻池善右衛門です。九条島（現在の九条から弁天町の周辺）を開拓して拠点を構え、父の開発した酒を全国各地へ運ぶために大型の樽を開発し、今までにない輸送方法を確立。海運業をスタートさせたベンチャー青年実業家と言えるでしょう。大坂で作る銘酒「清水」と鴻池村で造る「相生」（あいおい）を日本全国に広げて行き、後にその年産量は十万石以上と言われています。<br>
                        館内の飲食店「角打ち 山善亭」で1日数回行われるトークショーも必見。日本酒に対する熱い想いを語ります。</dd>
                </dl>
            </div>
            <div class="news-article_item">
                <picture>
                    <source media="(max-width: 768px)" srcset="/assets/images/news/heroes/image-4-sp.jpg">
                    <img src="/assets/images/news/heroes/image-4.jpg" srcset="/assets/images/news/heroes/image-4@2x.jpg 2x" alt="">
                </picture>
                <dl class="desc">
                    <dt>坪内石斎</dt>
                    <dt>(つぼうちせきさい)</dt>
                    <dd>坪内石斎は織田信長の料理番を務めた伝説の料理人と言われています。信長が初めて食事を作らせた際は「水臭くて食えぬ」「こやつを殺せ！」と処刑を命じましたが「明日の朝の食事がお気に召さなければ腹を切ります」と答え、翌朝に出した食事は絶品で信長を唸らせたそう。しかし、石斎曰く「昨日の料理は京の将軍が召し上がるような薄味。今日の料理は田舎風の濃い味付けにしたまで」と言ったという逸話が残されています。現代人の食を憂い、真の日本食、大阪の食を振る舞うため、館内の食事処「割烹 浮世亭」で腕を振るいます。</dd>
                </dl>
            </div>
            <div class="news-article_item">
                <picture>
                    <source media="(max-width: 768px)" srcset="/assets/images/news/heroes/image-5-sp.jpg">
                    <img src="/assets/images/news/heroes/image-5.jpg" srcset="/assets/images/news/heroes/image-5@2x.jpg 2x" alt="">
                </picture>
                <dl class="desc">
                    <dt>石川五右衛門</dt>
                    <dt>(いしかわごえもん)</dt>
                    <dd>安土桃山時代の盗賊の首長と言われ、「天下の大泥棒」としてその名を知られている石川五右衛門ですが、元忍者という説も。忍者の里として知られる伊賀の忍者に弟子入りして修行を行なうも、なかなか昇格せず、上忍にその理由を尋ねると「話がおもしろくないから」と言われたという逸話もあります。その後、抜け忍となった五右衛門は盗賊・義賊の道へ。空庭温泉でも神出鬼没のキャラクターで、時折ショーなどに姿を現します。</dd>
                </dl>
            </div>
        </div>

        <div class="news-article_share">
            <p>Share on:</p>
            <a href="" class="js-share-fb"><img src="/assets/images/cmn/sns-fb.svg" alt="facebook"></a>
            <a href="" class="js-share-line"><img src="/assets/images/cmn/sns-line.svg" alt="LINE"></a>
        </div>
    </section>

    <section class="news-others">
        <div class="sec-title">他の読み物を読む</div>
        <div class="news-list">
            <div class="news-list_item">
                <a href="momoyama.html">
                    <picture><img src="/assets/images/news/top/top-img-1.jpg" alt=""></picture>
                    <p class="date">2019.1.15</p>
                    <p class="desc">こころ踊る安土桃山時代</p>
                </a>
            </div>
            <div class="news-list_item">
                <a href="onsen.html">
                    <picture><img src="/assets/images/news/top/top-img-3.jpg" alt=""></picture>
                    <p class="date">2019.1.15</p>
                    <p class="desc">空庭温泉で美味しく、愉しく、美しく</p>
                </a>
            </div>
            <div class="news-list_item">
                <a href="faq.html">
                    <picture><img src="/assets/images/news/top/top-img-4.jpg" alt=""></picture>
                    <p class="date">2019.2.15</p>
                    <p class="desc">よくある質問</p>
                </a>
            </div>
            <div class="news-list_item">
                <a href="beginner.html">
                    <picture><img src="/assets/images/news/top/top-img-5.jpg" alt=""></picture>
                    <p class="date">2019.2.15</p>
                    <p class="desc">初めての方へ</p>
                </a>
            </div>
            <div class="news-list_item">
                <a href="event.html">
                    <picture><img src="/assets/images/news/top/top-img-6.jpg" alt=""></picture>
                    <p class="date">2019.2.15</p>
                    <p class="desc">ショー・イベントプログラム</p>
                </a>
            </div>
        </div>
        <a href="./" class="btn -center">一覧に戻る</a>
    </section>


    <%- include('../_include/magazine') %>
    <%- include('../_include/footer', {lower:1}) %>
    <%- include('../_include/navFix') %>

</div>

<%- include('../_include/script') %>

</body>
</html>