<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include('../_include/meta', {title:'ソラニワあれこれ',path:'news/momoyama.html'}) %>
    <%- include('../_include/style', {lang:'ja'}) %>

    <%- include('../_include/analytics') %>
</head>
<body class="p-news p-lower">

<%- include('../_include/header',{lower:1}) %>

<div id="main">

    <section class="news-article">
        <div class="news-article_header">
            <h2>こころ踊る<br>安土桃山時代</h2>
            <picture>
                <source media="(max-width: 768px)" srcset="/assets/images/news/momoyama/head-image-sp.jpg">
                <img src="/assets/images/news/momoyama/head-image.jpg" alt="">
            </picture>
        </div>
        <div class="news-article_body">
            <p class="news-article_text">
                空庭温泉のコンセプトは安土桃山時代。豊臣秀吉が大阪城を拠点として天下統一を成し遂げた時代であり、1573～1603年のわずか30年の中に楽しさや賑やかさがぎゅっと凝縮されています。
            </p>
            <div class="news-article_item">
                <picture>
                    <source media="(max-width: 768px)" srcset="/assets/images/news/momoyama/image-1-sp.jpg">
                    <img src="/assets/images/news/momoyama/image-1.jpg" srcset="/assets/images/news/momoyama/image-1@2x.jpg 2x" alt="">
                </picture>
                <dl class="desc">
                    <dd>安土桃山文化は戦国大名や豪商が中心となり作り上げたため、雄大な天守閣が特徴の大阪城や安土城などゴージャスな装飾が目立ちます。<br>
                        そして、安土桃山を彩る色といえば豊臣秀吉が大好きだった「金」。金の茶室や茶道具をはじめ、甲冑や陣羽織、瓦やスリッパにまで金が使われた豪華絢爛の時代ですが、まさに大阪の「黄金期」と言える輝かしい市井の様子を少し振り返ってみましょう。</dd>
                </dl>
            </div>
            <div class="news-article_item">
                <picture>
                    <source media="(max-width: 768px)" srcset="/assets/images/news/momoyama/image-2-sp.jpg">
                    <img src="/assets/images/news/momoyama/image-2.jpg" srcset="/assets/images/news/momoyama/image-2@2x.jpg 2x" alt="">
                </picture>
                <dl class="desc">
                    <dd>安土桃山時代は町人に活気が溢れていた時代であり、三味線の伴奏にあわせて人形劇を上演する人形浄瑠璃や、出雲大社の巫女（みこ）だった出雲阿国（いずものおくに）が始めた歌舞伎踊りなど、新しい芸能が登場。織田信長により楽市・楽座がスタートし、前例にとらわれない新しい方法で街が活性化されました。<br>
                        と、同時にインターナショナルな南蛮文化も到来。ポルトガルやイギリスなど、大航海時代真っ盛りのヨーロッパ諸国の文化が色濃く反映されたことで多彩な文化が花開きました。<br>
                        ファッションも大きく変化し、女性は鮮やかな赤色や華やかなデザイン、男性は和洋折衷の独特な着こなしが流行しました。</dd>
                </dl>
            </div>
            <div class="news-article_item">
                <picture>
                    <source media="(max-width: 768px)" srcset="/assets/images/news/momoyama/image-3-sp.jpg">
                    <img src="/assets/images/news/momoyama/image-3.jpg" srcset="/assets/images/news/momoyama/image-3@2x.jpg 2x" alt="">
                </picture>
                <dl class="desc">
                    <dd>食の面ではスイカ、かぼちゃ、玉ねぎ、などの新しい食材が登場し、油で揚げるという調理法も生まれました。パンやカステラ、ぶどう酒などが輸入されたのもこの時代で、今では当たり前になっている食べ物が日本に根付いたとされています。</dd>
                </dl>
            </div>
            <div class="news-article_item">
                <picture>
                    <source media="(max-width: 768px)" srcset="/assets/images/news/momoyama/image-4-sp.jpg">
                    <img src="/assets/images/news/momoyama/image-4.jpg" srcset="/assets/images/news/momoyama/image-4@2x.jpg 2x" alt="">
                </picture>
                <dl class="desc">
                    <dd>派手さを誇る一方で、茶道を芸術にまで高めた千利休は侘び寂びの道をとなえ、「一期に一度の参会」の精神で客を迎えました。今でもよく使われる「一期一会」という言葉を生んだおもてなしの心は、この時代の大阪におけるもうひとつの顔でもあります。</dd>
                </dl>
            </div>
            <p class="news-article_text">
                いかがでしたでしょうか。知れば知るほど安土桃山時代は興味深い時代であり、背景を知った上で空庭温泉へ来ていただけると、その世界観をさらに楽しむことができると思います。現代の大阪のルーツを感じるいきいきとして幸せな安土桃山の世界へ、ぜひお越しください。
            </p>
        </div>

        <div class="news-article_share">
            <p>Share on:</p>
            <a href="" class="js-share-fb"><img src="/assets/images/cmn/sns-fb.svg" alt="facebook"></a>
            <a href="" class="js-share-line"><img src="/assets/images/cmn/sns-line.svg" alt="LINE"></a>
        </div>
    </section>

    <section class="news-others">
        <div class="sec-title">他の読み物を読む</div>
        <div class="news-list">
            <div class="news-list_item">
                <a href="heroes.html">
                    <picture><img src="/assets/images/news/top/top-img-2.jpg" alt=""></picture>
                    <p class="date">2019.1.15</p>
                    <p class="desc">空庭ヒーローズ</p>
                </a>
            </div>
            <div class="news-list_item">
                <a href="onsen.html">
                    <picture><img src="/assets/images/news/top/top-img-3.jpg" alt=""></picture>
                    <p class="date">2019.1.15</p>
                    <p class="desc">空庭温泉で美味しく、愉しく、美しく</p>
                </a>
            </div>
            <div class="news-list_item">
                <a href="faq.html">
                    <picture><img src="/assets/images/news/top/top-img-4.jpg" alt=""></picture>
                    <p class="date">2019.2.15</p>
                    <p class="desc">よくある質問</p>
                </a>
            </div>
            <div class="news-list_item">
                <a href="beginner.html">
                    <picture><img src="/assets/images/news/top/top-img-5.jpg" alt=""></picture>
                    <p class="date">2019.2.15</p>
                    <p class="desc">初めての方へ</p>
                </a>
            </div>
            <div class="news-list_item">
                <a href="event.html">
                    <picture><img src="/assets/images/news/top/top-img-6.jpg" alt=""></picture>
                    <p class="date">2019.2.15</p>
                    <p class="desc">ショー・イベントプログラム</p>
                </a>
            </div>
        </div>
        <a href="./" class="btn -center">一覧に戻る</a>
    </section>


    <%- include('../_include/magazine') %>
    <%- include('../_include/footer', {lower:1}) %>
    <%- include('../_include/navFix') %>

</div>

<%- include('../_include/script') %>

</body>
</html>