<!DOCTYPE html>
<html>
<head>
    <%- include('../_include/meta', {title:'ソラニワあれこれ',path:'news/onsen.html'}) %>
    <link rel="stylesheet" href="../assets/css/style.css">

    <%- include('../_include/analytics') %>
</head>
<body class="p-news p-lower">

<%- include('../_include/header',{lower:1}) %>

<div id="main">

    <section class="news-article">
        <div class="news-article_header">
            <h2>空庭温泉で<br><span class="sp space"></span>美味しく、愉しく、<br class="sp">美しく</h2>
            <picture>
                <source media="(max-width: 768px)" srcset="/assets/images/news/onsen/head-image-sp.jpg">
                <img src="/assets/images/news/onsen/head-image.jpg" alt="">
            </picture>
        </div>
        <div class="news-article_body">
            <p class="news-article_text">
                来る2019年2月26日（火）、関西最大級の温泉型テーマパーク「空庭温泉(そらにわおんせん) OSAKA BAY TOWER」が、大阪ベイエリアにいよいよオープン。JR大阪環状線・地下鉄中央線「弁天町」駅直結で大阪・梅田駅から約15分の場所にあり、総延べ床面積は約5,000坪超を誇る特大スケールの施設です。
            </p>
            <div class="news-article_item">
                <picture>
                    <source media="(max-width: 768px)" srcset="/assets/images/news/onsen/image-1-sp.jpg">
                    <img src="/assets/images/news/onsen/image-1.jpg" srcset="/assets/images/news/onsen/image-1@2x.jpg 2x" alt="">
                </picture>
                <dl class="desc">
                    <dd>コンセプトは安土桃山時代。入り口を入ると豪華絢爛できらびやかな世界が広がり、館内には安土桃山時代にちなんだキャラクターや、町人・町娘をはじめ、その時代を生きた人々に扮するエンターテイナーがあなたをお出迎え。<br>
                        無料で貸し出される浴衣も時代を意識したものになっており、侍や姫、忍者などのコスチュームも用意しているのでフォトジェニックな写真もバッチリ。館内には安土桃山時代の世界観に溶け込んだパフォーマーたちがいて、タイムスリップしたような感覚が味わえる演出もあるのでお楽しみに。</dd>
                </dl>
            </div>
            <div class="news-article_item">
                <picture>
                    <source media="(max-width: 768px)" srcset="/assets/images/news/onsen/image-2-sp.jpg">
                    <img src="/assets/images/news/onsen/image-2.jpg" srcset="/assets/images/news/onsen/image-2@2x.jpg 2x" alt="">
                </picture>
                <dl class="desc">
                    <dd>施設の中でまず注目していただきたいのはやはり温泉。約1,000坪を誇る屋上の「天空庭園」では四季折々の木々や花々を楽しみながら、露天風呂や庭見風呂など、自慢の天然温泉を堪能したり、足湯エリアでのんびりくつろいだりすることができます。庭園内のステージでは様々なショーが繰り広げられる他、千本鳥居や滝などの演出もあり、大阪の都心部とは思えない開放感の中でゆったりとした時間をお過ごしください。</dd>
                </dl>
            </div>
            <div class="news-article_item">
                <picture>
                    <source media="(max-width: 768px)" srcset="/assets/images/news/onsen/image-3-sp.jpg">
                    <img src="/assets/images/news/onsen/image-3.jpg" srcset="/assets/images/news/onsen/image-3@2x.jpg 2x" alt="">
                </picture>
                <dl class="desc">
                    <dd>約100㎡の広さを誇る国内最大級のパウダールーム、TV付きリクライナー席が多数広がる関西最大級のリラクゼーションエリア、美容・健康が追求できるビューティー・トリートメントエリアなど、美容や癒しにもとことんこだわっています。</dd>
                </dl>
            </div>
            <div class="news-article_item">
                <picture>
                    <source media="(max-width: 768px)" srcset="/assets/images/news/onsen/image-4-sp.jpg">
                    <img src="/assets/images/news/onsen/image-4.jpg" srcset="/assets/images/news/onsen/image-4@2x.jpg 2x" alt="">
                </picture>
                <dl class="desc">
                    <dd>グルメコーナーも充実していて、日本独特の食文化を感じる料理や、かつての銘酒を復活させた「再現酒」などをはじめ、角打ちショーやそば打ちショーなどのエンターテインメント要素も。女性にうれしいスイーツや空庭温泉ならではのおみやげも豊富に揃い、美食や美酒が満喫できます。</dd>
                </dl>
            </div>
            <p class="news-article_text">
                ここで紹介しているのは空庭温泉のほんの一部のみ。この他にも、あなたに幸せをもたらすお愉しみが満載です。美味しいものを食べ、大いに笑い、天然温泉でリラックス。空庭温泉を思う存分満喫し、美味しく、愉しく、美しいひとときをお過ごしください。
            </p>
        </div>

        <div class="news-article_share">
            <p>Share on:</p>
            <a href="" class="js-share-fb"><img src="/assets/images/cmn/sns-fb.svg" alt="facebook"></a>
            <a href="" class="js-share-line"><img src="/assets/images/cmn/sns-line.svg" alt="LINE"></a>
        </div>
    </section>

    <section class="news-others">
        <div class="sec-title">他の読み物を読む</div>
        <div class="news-list">
            <div class="news-list_item">
                <a href="momoyama.html">
                    <picture><img src="/assets/images/news/top/top-img-1.jpg" alt=""></picture>
                    <p class="date">2019.1.15</p>
                    <p class="desc">こころ踊る安土桃山時代</p>
                </a>
            </div>
            <div class="news-list_item">
                <a href="heroes.html">
                    <picture><img src="/assets/images/news/top/top-img-2.jpg" alt=""></picture>
                    <p class="date">2019.1.15</p>
                    <p class="desc">空庭ヒーローズ</p>
                </a>
            </div>
        </div>
        <a href="./" class="btn -center">一覧に戻る</a>
    </section>


    <%- include('../_include/magazine') %>
    <%- include('../_include/footer', {lower:1}) %>
    <%- include('../_include/navFix') %>

</div>

<%- include('../_include/script') %>

</body>
</html>