<%
var lang = 'en';
var topDir = '/'+lang+'/';
%>
<!DOCTYPE html>
<html lang="<%- lang %>">
<head>
    <%- include('../../_include/meta_' + lang, {title:'Information ‧ Admission fee'}) %>
    <%- include('../../_include/style', {lang:lang}) %>

    <%- include('../../_include/analytics') %>
</head>
<body class="p-fees p-lower">

<%- include('../../_include/header_' + lang, {lower:1}) %>

<div id="main">
    <section class="sec-header">
        <div class="sec-header_title">
            <h2>Information ‧ Admission fee</h2>
            <a href="<%- topDir %>" class="back"></a>
        </div>
    </section>

    <section class="time">
        <div class="sec-title">Opening Hours</div>
        <div class="time-summary">
            <p>11:00am～9:00am the next day <span>(Last entry: 8:00 / Main baths can be used until 8:30)</span></p>
            <span class="f-small">※ Unaccompanied children under 16 years old must check out<br class="sp"> by 19:00, and those under 18 years old by 22:00.</span>
            <dl class="closure">
                <dt>Closing Day</dt>
                <dd>3.13(wed)、4.17(wed)、5.15(wed)、6.19(wed)、7.10(wed)、 8.21(wed)、
                    9.11(wed)、10.9(wed)、11.20(wed)、12.8(wed)</dd>
            </dl>
        </div>
    </section>

    <section class="fees">
        <div class="sec-title">Fees</div>
        <div class="fee-list">
            <div class="fee-item">
                <table class="fee-table -entry">
                    <caption>Admission fee</caption>
                    <tr>
                        <th> </th><th>Weekday</th><th>Weekend / Holidays </th><th>Special Days</th>
                    </tr>
                    <tr>
                        <td>Adult</td><td>2,400 yen</td><td>2,600 yen</td><td>2,800 yen</td>
                    </tr>
                    <tr>
                        <td>Child</td><td>1,200 yen</td><td>1,300 yen</td><td>1,400 yen</td>
                    </tr>
                </table>
                <div class="fee-item_note">
                    ※ Child price applies to children from 4 to 12 years old. <br>　 Children under 4 years old entrance is free of charge.<br>
                    ※Included towel and yukata.
                </div>
            </div>
            <div class="fee-item">
                <table class="fee-table -bath">
                    <caption>Morning bath<br>
                        <span class="f-small">6:00～9:00<br>(Last entry: 8:00 / Main baths can be used until 8:30)</span>
                    </caption>
                    <tr>
                        <th> </th><th>Weekday</th><th>Weekend / Holidays </th><th>Special Days</th>
                    </tr>
                    <tr>
                        <td>Adult</td><td>1,200 yen</td><td>1,300 yen</td><td>1,400 yen</td>
                    </tr>
                    <tr>
                        <td>Child</td><td>600 yen</td><td>650 yen</td><td>700 yen</td>
                    </tr>
                </table>
                <div class="fee-item_note">
                    Admission fee from 6:00 to 9:00<br>
                    ※Included towel and yukata.
                </div>
            </div>
        </div>
    </section>

    <section class="option">
        <div class="sec-title">Choice</div>
        <div class="fee-list">
            <div class="fee-item">
                <table class="fee-table -night">
                    <caption>Night admission<br>
                        <span class="f-small">1:00～6:00</span>
                    </caption>
                    <tr>
                        <th> </th><th>Weekday</th><th>Weekend / Holidays </th><th>Special Days</th>
                    </tr>
                    <tr>
                        <td>Adult, Child<span><br>(Same fee)</span></td><td>2,000 yen</td><td>2,200 yen</td><td>2,200 yen</td>
                    </tr>
                </table>
                <div class="fee-item_note">
                    Extra fee will be charged for usage after 1am.
                </div>
            </div>
            <div class="fee-item">
                <table class="fee-table -ganbanyoku">
                    <caption>Bedrock sauna<br>
                        <span class="f-small">11:00～23:00 (Last admission 22:00)</span>
                    </caption>
                    <tr>
                        <th> </th><th>Weekday</th><th>Weekend / Holidays </th><th>Special Days</th>
                    </tr>
                    <tr>
                        <td>Adult</td><td>1,000 yen</td><td>1,200 yen</td><td>1,200 yen</td>
                    </tr>
                </table>
                <div class="fee-item_note">
                    ※ The Bedrock sauna is available for adults only.
                </div>
            </div>
        </div>
        <div class="fee-list -col1">
            <div class="fee-item">
                <table class="fee-table -family">
                    <caption>Private Family Bath<br>
                        <span class="f-small">11:00～23:00 (Last admission 21:00)</span>
                    </caption>
                    <tr>
                        <td>
                            <div>
                                <p>Large room<br>
                                    First two hours　<strong class="f-large">10,000yen</strong> / 1room<br></p>
                                <span class="f-smaller">
                                    ※ The extended time will be charged 4,000yen per hour.<br>
                                    ※ Recommended 4 to 6 people.
                                </span>
                            </div>
                            <div>
                                <p>Small room<br>
                                    First two hours　<strong class="f-large">7,000yen</strong> / 1room<br></p>
                                <span class="f-smaller">
                                    ※ The extended time will be charged 3,000yen per hour.<br>
                                    ※ Recommended up to 4people.<br>
                                    ※ Price for our wheelchair-accessible room is the price of the small room.
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="fee-list">
            <div class="fee-item">
                <table class="fee-table -fish">
                    <caption>Fish Therapy<br>
                        <span class="f-small">12:00～21:00 (Last admission 20:45)</span></caption>
                    <tr>
                        <th> </th><th>10 minutes</th><th>Extended<br> 5 minutes</th>
                    </tr>
                    <tr>
                        <td>Adult</td><td>1,000 yen</td><td>500 yen</td>
                    </tr>
                    <tr>
                        <td>Child</td><td>600 yen</td><td>300 yen</td>
                    </tr>
                </table>
            </div>
            <div class="fee-item">
                <table class="fee-table -health">
                    <caption>Individual powder room<br>
                        <span class="f-small">(For ladies only)<br>11:00～23:00 (Last admission 22:30)</span>
                    </caption>
                    <tr>
                        <td><strong class="f-large">500 yen</strong> / per seat for 30 minutes</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>

    <section class="hours">
        <div class="sec-title">Operation hour</div>
        <div class="hours-btn_block">
            <a href="" class="hours-btn js-switch-tab-btn -active" data-tab-btn="2">2F</a>
            <a href="" class="hours-btn -disabled" data-tab-btn="3">3F</a>
            <a href="" class="hours-btn js-switch-tab-btn" data-tab-btn="4">4F・5F</a>
        </div>
        <div class="hours-list">
            <div class="hours-table js-switch-tab" data-tab-id="2">
                <dl>
                    <dt>Ukiyo-tei</dt>
                    <dd><p>11:00～22:00(L.O. 21:30)</p></dd>
                </dl>
                <dl>
                    <dt>Nawanoren Izumi-ya / <br>Tsunokuni-ya / <br>Kawachiya</dt>
                    <dd><p>11:00～22:00(L.O. 21:30)</p></dd>
                </dl>
                <dl>
                    <dt>Sake Shop: Yamazen-tei</dt>
                    <dd><p>12:00～23:00</p></dd>
                </dl>
                <dl>
                    <dt>Komachi-chaya</dt>
                    <dd><p>11:00～22:00</p></dd>
                </dl>
                <dl>
                    <dt>The Benten Street General Store / <br>
                        Sake Standing Bar: Itamigo Yamanakaya /<br>
                        Benihana Cosmetics / <br>
                        Solaniwa confectionery</dt>
                    <dd><p>11:00～22:00</p></dd>
                </dl>
                <dl>
                    <dt>Massage & Este Keirakuin</dt>
                    <dd>
                        <p>
                            <strong>ボディケア / ストレッチ</strong>
                            11:30～翌3:00(受付開始11:30 / 受付終了 翌2:30)
                        </p>
                        <p>
                            <strong>エステ</strong>
                            11:30～23:00(受付開始11:30 / 受付終了 22:00)
                        </p>
                    </dd>
                </dl>
                <dl>
                    <dt>Foot massage Shop YUMEYA</dt>
                    <dd>
                        <p>11:30～22:00(受付開始11:30 / 受付終了 21:00)</p>
                    </dd>
                </dl>
                <dl>
                    <dt>The traditional Japanese-style clothes</dt>
                    <dd>
                        <p>11:00～21:00(受付開始11:00 / 受付終了 20:30)</p>
                    </dd>
                </dl>
                <dl>
                    <dt>OSAKAYA</dt>
                    <dd>
                        <p>11:00～20:00<br>
                            (カメラマン撮影対応時間 11:00～19:00)<br>
                            (フォトスポット機撮影対応時間 11:00～17:00 日没で終了)</p>
                    </dd>
                </dl>
                <dl>
                    <dt>The Beauty room</dt>
                    <dd>
                        <p>13:00～22:00 (受付終了 21:30)</p>
                    </dd>
                </dl>
                <dl>
                    <dt>Bedrock Sauna Place</dt>
                    <dd>
                        <p>11:00～23:00 (受付終了 22:00)</p>
                    </dd>
                </dl>
            </div>
            <div class="hours-table js-switch-tab" data-tab-id="4">
                <dl>
                    <dt>4F Body Scrub (inside bath area)</dt>
                    <dd><p>11:30～翌1:00(受付開始11:00 / 受付終了 24:00)</p></dd>
                </dl>
                <dl>
                    <dt>4F Fish Therapy</dt>
                    <dd><p>12:00～21:00 (Last admission 20:45)</p></dd>
                </dl>
                <dl>
                    <dt>5F Tengacyaya</dt>
                    <dd><p>11:00～22:00</p></dd>
                </dl>
                <dl>
                    <dt>5F Summer deck Food stand</dt>
                    <dd><p>12:00～21:00</p></dd>
                </dl>
            </div>
        </div>
    </section>

    <section class="attention">
        <ul>
            <li>※ consumption tax </li>
            <li>※ Bathing tax applies to admission fee over 1,501yen and customers older than elementary school age (the morning bath is excluded from taxation).</li>
            <li>※Special Days in 2019: April 27th(Sat)～May 6th(Mon), August 10th(Sat)～15th(Thu), December 28th(Sat)～Jan 5th(Sun) </li>
        </ul>
    </section>

    <%- include('../../_include/magazine_' + lang) %>
    <%- include('../../_include/footer_' + lang, {lower:1}) %>
    <%- include('../../_include/navFix_' + lang) %>
</div>

<%- include('../../_include/script') %>

</body>
</html>